pojo-ws/src/main/webapp/WEB-INF/wsdl/OrganizationDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:idm.openiam.org/srvc/org/service" xmlns:ns1="urn:idm.openiam.org/srvc/org/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:org="urn:idm.openiam.org/srvc/org/dto" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="urn:idm.openiam.org/srvc/meta/dto" name="OrganizationDataWebService" targetNamespace="urn:idm.openiam.org/srvc/org/service">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:idm.openiam.org/srvc/org/types" xmlns:tns="urn:idm.openiam.org/srvc/org/types" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="unqualified">
			<xsd:import namespace="urn:idm.openiam.org/srvc/org/dto" schemaLocation="organization.xsd"/>
			<xsd:element name="addOrganization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="organization" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addOrganizationResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOrganization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOrganizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="return" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateOrganization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="organization" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateOrganizationResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeOrganization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeOrganizationResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isRootOrganization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isRootOrganizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTopLevelOrganizations">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTopLevelOrganizationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subOrganizations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subOrganizationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="containsChildren">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="containsChildrenResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addAttribute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="organizationAttribute" type="org:organizationAttribute"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addAttributeResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAttribute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="attributeId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAttributeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="return" type="org:organizationAttribute"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeAttribute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="organizationAttribute" type="org:organizationAttribute"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeAttributeResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateAttribute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="organizationAttribute" type="org:organizationAttribute"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateAttributeResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAttributes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAttributesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="return" type="org:organizationAttributeMap"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeAllAttributes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="orgId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeAllAttributesResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="search">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element minOccurs="0" name="type" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="org:organization"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addOrganization">
		<wsdl:part name="addOrganization" element="ns1:addOrganization"/>
	</wsdl:message>
	<wsdl:message name="addOrganizationResponse">
		<wsdl:part name="addOrganizationResponse" element="ns1:addOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="getOrganization">
		<wsdl:part name="getOrganization" element="ns1:getOrganization"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationResponse">
		<wsdl:part name="getOrganizationResponse" element="ns1:getOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="updateOrganization">
		<wsdl:part name="updateOrganization" element="ns1:updateOrganization"/>
	</wsdl:message>
	<wsdl:message name="updateOrganizationResponse">
		<wsdl:part name="updateOrganizationResponse" element="ns1:updateOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="removeOrganization">
		<wsdl:part name="removeOrganization" element="ns1:removeOrganization"/>
	</wsdl:message>
	<wsdl:message name="removeOrganizationResponse">
		<wsdl:part name="removeOrganizationResponse" element="ns1:removeOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="isRootOrganization">
		<wsdl:part name="isRootOrganization" element="ns1:isRootOrganization"/>
	</wsdl:message>
	<wsdl:message name="isRootOrganizationResponse">
		<wsdl:part name="isRootOrganizationResponse" element="ns1:isRootOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="getTopLevelOrganizations">
		<wsdl:part name="getTopLevelOrganizations" element="ns1:getTopLevelOrganizations"/>
	</wsdl:message>
	<wsdl:message name="getTopLevelOrganizationsResponse">
		<wsdl:part name="getTopLevelOrganizationsResponse" element="ns1:getTopLevelOrganizationsResponse"/>
	</wsdl:message>
	<wsdl:message name="subOrganizations">
		<wsdl:part name="subOrganizations" element="ns1:subOrganizations"/>
	</wsdl:message>
	<wsdl:message name="subOrganizationsResponse">
		<wsdl:part name="subOrganizationsResponse" element="ns1:subOrganizationsResponse"/>
	</wsdl:message>
	<wsdl:message name="containsChildren">
		<wsdl:part name="containsChildren" element="ns1:containsChildren"/>
	</wsdl:message>
	<wsdl:message name="containsChildrenResponse">
		<wsdl:part name="out" element="ns1:containsChildrenResponse"/>
	</wsdl:message>
	<wsdl:message name="addAttribute">
		<wsdl:part name="addAttribute" element="ns1:addAttribute"/>
	</wsdl:message>
	<wsdl:message name="addAttributeResponse">
		<wsdl:part name="addAttributeResponse" element="ns1:addAttributeResponse"/>
	</wsdl:message>
	<wsdl:message name="getAttribute">
		<wsdl:part name="getAttribute" element="ns1:getAttribute"/>
	</wsdl:message>
	<wsdl:message name="getAttributeResponse">
		<wsdl:part name="getAttributeResponse" element="ns1:getAttributeResponse"/>
	</wsdl:message>
	<wsdl:message name="updateAttribute">
		<wsdl:part name="updateAttribute" element="ns1:updateAttribute"/>
	</wsdl:message>
	<wsdl:message name="updateAttributeResponse">
		<wsdl:part name="updateAttributeResponse" element="ns1:updateAttributeResponse"/>
	</wsdl:message>
	<wsdl:message name="removeAttribute">
		<wsdl:part name="removeAttribute" element="ns1:removeAttribute"/>
	</wsdl:message>
	<wsdl:message name="removeAttributeResponse">
		<wsdl:part name="removeAttributeResponse" element="ns1:removeAttributeResponse"/>
	</wsdl:message>
	<wsdl:message name="getAllAttributes">
		<wsdl:part name="getAllAttributes" element="ns1:getAllAttributes"/>
	</wsdl:message>
	<wsdl:message name="getAllAttributesResponse">
		<wsdl:part name="getAllAttributesResponse" element="ns1:getAllAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="removeAllAttributes">
		<wsdl:part name="removeAllAttributes" element="ns1:removeAllAttributes"/>
	</wsdl:message>
	<wsdl:message name="removeAllAttributesResponse">
		<wsdl:part name="removeAllAttributesResponse" element="ns1:removeAllAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="search">
		<wsdl:part name="search" element="ns1:search"/>
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="out" element="ns1:searchResponse"/>
	</wsdl:message>
	<wsdl:portType name="OrganizationDataService">
		<wsdl:operation name="getOrganization">
			<wsdl:input name="getOrganization" message="tns:getOrganization"/>
			<wsdl:output name="getOrganizationResponse" message="tns:getOrganizationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOrganization">
			<wsdl:input name="addOrganization" message="tns:addOrganization"/>
			<wsdl:output name="addOrganizationResponse" message="tns:addOrganizationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeOrganization">
			<wsdl:input name="removeOrganization" message="tns:removeOrganization"/>
			<wsdl:output name="removeOrganizationResponse" message="tns:removeOrganizationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateOrganization">
			<wsdl:input name="updateOrganization" message="tns:updateOrganization"/>
			<wsdl:output name="updateOrganizationResponse" message="tns:updateOrganizationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isRootOrganization">
			<wsdl:input name="isRootOrganization" message="tns:isRootOrganization"/>
			<wsdl:output name="isRootOrganizationResponse" message="tns:isRootOrganizationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTopLevelOrganizations">
			<wsdl:input name="getTopLevelOrganizations" message="tns:getTopLevelOrganizations">
			</wsdl:input>
			<wsdl:output name="getTopLevelOrganizationsResponse" message="tns:getTopLevelOrganizationsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="subOrganizations">
			<wsdl:input name="subOrganizations" message="tns:subOrganizations"/>
			<wsdl:output name="subOrganizationsResponse" message="tns:subOrganizationsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="containsChildren">
			<wsdl:input name="containsChildren" message="tns:containsChildren"/>
			<wsdl:output name="containsChildrenResponse" message="tns:containsChildrenResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<wsdl:input name="addAttribute" message="tns:addAttribute"/>
			<wsdl:output name="addAttributeResponse" message="tns:addAttributeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<wsdl:input name="getAttribute" message="tns:getAttribute"/>
			<wsdl:output name="getAttributeResponse" message="tns:getAttributeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<wsdl:input name="updateAttribute" message="tns:updateAttribute"/>
			<wsdl:output name="updateAttributeResponse" message="tns:updateAttributeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<wsdl:input name="removeAttribute" message="tns:removeAttribute"/>
			<wsdl:output name="removeAttributeResponse" message="tns:removeAttributeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<wsdl:input name="getAllAttributes" message="tns:getAllAttributes"/>
			<wsdl:output name="getAllAttributesResponse" message="tns:getAllAttributesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<wsdl:input name="removeAllAttributes" message="tns:removeAllAttributes"/>
			<wsdl:output name="removeAllAttributesResponse" message="tns:removeAllAttributesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input name="search" message="tns:search"/>
			<wsdl:output name="searchResponse" message="tns:searchResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrganizationDataServiceBinding" type="tns:OrganizationDataService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isRootOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="isRootOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isRootOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTopLevelOrganizations">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getTopLevelOrganizations">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getTopLevelOrganizationsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="subOrganizations">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="subOrganizations">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="subOrganizationsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="containsChildren">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="containsChildren">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="containsChildrenResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="search">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="searchResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrganizationDataWebService">
		<wsdl:port name="OrganizationDataServicePort" binding="tns:OrganizationDataServiceBinding">
			<soap:address location="http://localhost:8080/OrganizationDataService"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Types ******************************************************** -->
	<!-- Messages ******************************************************** -->
	<!-- portType ******************************************************** -->
	<!-- Binding ******************************************************** -->
	<!-- Service ******************************************************** -->
</wsdl:definitions>
