pojo-ws/src/main/webapp/WEB-INF/wsdl/RoleDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/role/service" xmlns:types="urn:idm.openiam.org/srvc/role/types" xmlns:grp="urn:idm.openiam.org/srvc/grp/dto" xmlns:user="urn:idm.openiam.org/srvc/user/dto" xmlns:meta="urn:idm.openiam.org/srvc/meta/dto" xmlns:role="urn:idm.openiam.org/srvc/role/dto" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:idm.openiam.org/srvc/continfo/dto" xmlns:ns2="urn:idm.openiam.org/srvc/org/dto" name="RoleDataWebService" targetNamespace="urn:idm.openiam.org/srvc/role/service">
	<wsdl:types>
		<schema targetNamespace="urn:idm.openiam.org/srvc/role/types" xmlns:tns="urn:idm.openiam.org/srvc/role/types" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="unqualified">
			<import namespace="urn:idm.openiam.org/srvc/grp/dto" schemaLocation="group.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/user/dto" schemaLocation="user.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/role/dto" schemaLocation="role.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/meta/dto" schemaLocation="metadata.xsd"/>
			<complexType name="getAllAttributes">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getAllAttributesResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:roleAttribute"/>
				</sequence>
			</complexType>
			<complexType name="getUserRolesByService">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="userId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getUserRolesByServiceResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="removeGroupFromRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="groupId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeGroupFromRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="removeAllGroupsFromRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeAllGroupsFromRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="updateAttribute">
				<sequence>
					<element minOccurs="0" name="roleAttribute" type="role:roleAttribute"/>
				</sequence>
			</complexType>
			<complexType name="updateAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="isUserInRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="userId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="isUserInRoleResponse">
				<sequence>
					<element name="return" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="addRole">
				<sequence>
					<element minOccurs="0" name="role" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="addRoleResponse">
				<sequence>
					<element minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="getRolesInService">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getRolesInServiceResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="removeRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="getUserRoles">
				<sequence>
					<element minOccurs="0" name="userId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getUserRolesResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="getRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getRoleResponse">
				<sequence>
					<element minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="getRoleWithDependants">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getRoleWithDependantsResponse">
				<sequence>
					<element minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="removeUserFromRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="userId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeUserFromRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="removeAllAttributes">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeAllAttributesResponse">
				<sequence/>
			</complexType>
			<complexType name="isGroupInRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="groupId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="isGroupInRoleResponse">
				<sequence>
					<element name="return" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="updateRole">
				<sequence>
					<element minOccurs="0" name="role" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="updateRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="getRolesInGroup">
				<sequence>
					<element minOccurs="0" name="groupId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getRolesInGroupResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="addAttribute">
				<sequence>
					<element minOccurs="0" name="roleAttribute" type="role:roleAttribute"/>
				</sequence>
			</complexType>
			<complexType name="addAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="getAttribute">
				<sequence>
					<element minOccurs="0" name="attrId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getAttributeResponse">
				<sequence>
					<element minOccurs="0" name="return" type="role:roleAttribute"/>
				</sequence>
			</complexType>
			<complexType name="addGroupToRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="groupId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="addGroupToRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="addUserToRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
					<element minOccurs="0" name="userId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="addUserToRoleResponse">
				<sequence/>
			</complexType>
			<complexType name="removeAttribute">
				<sequence>
					<element minOccurs="0" name="roleAttribute" type="role:roleAttribute"/>
				</sequence>
			</complexType>
			<complexType name="removeAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="getAllRoles">
				<sequence/>
			</complexType>
			<complexType name="getAllRolesResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="role:role"/>
				</sequence>
			</complexType>
			<complexType name="getGroupsInRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getGroupsInRoleResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="getUsersInRole">
				<sequence>
					<element minOccurs="0" name="serviceId" type="string"/>
					<element minOccurs="0" name="roleId" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getUsersInRoleResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="addAttribute" type="tns:addAttribute"/>
			<element name="addAttributeResponse" type="tns:addAttributeResponse"/>
			<element name="addGroupToRole" type="tns:addGroupToRole"/>
			<element name="addGroupToRoleResponse" type="tns:addGroupToRoleResponse"/>
			<element name="addRole" type="tns:addRole"/>
			<element name="addRoleResponse" type="tns:addRoleResponse"/>
			<element name="addUserToRole" type="tns:addUserToRole"/>
			<element name="addUserToRoleResponse" type="tns:addUserToRoleResponse"/>
			<element name="getAllAttributes" type="tns:getAllAttributes"/>
			<element name="getAllAttributesResponse" type="tns:getAllAttributesResponse"/>
			<element name="getAllRoles" type="tns:getAllRoles"/>
			<element name="getAllRolesResponse" type="tns:getAllRolesResponse"/>
			<element name="getAttribute" type="tns:getAttribute"/>
			<element name="getAttributeResponse" type="tns:getAttributeResponse"/>
			<element name="getRole" type="tns:getRole"/>
			<element name="getRoleResponse" type="tns:getRoleResponse"/>
			<element name="getRoleWithDependants" type="tns:getRoleWithDependants"/>
			<element name="getRoleWithDependantsResponse" type="tns:getRoleWithDependantsResponse"/>
			<element name="getRolesInGroup" type="tns:getRolesInGroup"/>
			<element name="getRolesInGroupResponse" type="tns:getRolesInGroupResponse"/>
			<element name="getRolesInService" type="tns:getRolesInService"/>
			<element name="getRolesInServiceResponse" type="tns:getRolesInServiceResponse"/>
			<element name="getUserRoles" type="tns:getUserRoles"/>
			<element name="getUserRolesByService" type="tns:getUserRolesByService"/>
			<element name="getUserRolesByServiceResponse" type="tns:getUserRolesByServiceResponse"/>
			<element name="getUserRolesResponse" type="tns:getUserRolesResponse"/>
			<element name="isGroupInRole" type="tns:isGroupInRole"/>
			<element name="isGroupInRoleResponse" type="tns:isGroupInRoleResponse"/>
			<element name="isUserInRole" type="tns:isUserInRole"/>
			<element name="isUserInRoleResponse" type="tns:isUserInRoleResponse"/>
			<element name="removeAllAttributes" type="tns:removeAllAttributes"/>
			<element name="removeAllAttributesResponse" type="tns:removeAllAttributesResponse"/>
			<element name="removeAllGroupsFromRole" type="tns:removeAllGroupsFromRole"/>
			<element name="removeAllGroupsFromRoleResponse" type="tns:removeAllGroupsFromRoleResponse"/>
			<element name="removeAttribute" type="tns:removeAttribute"/>
			<element name="removeAttributeResponse" type="tns:removeAttributeResponse"/>
			<element name="removeGroupFromRole" type="tns:removeGroupFromRole"/>
			<element name="removeGroupFromRoleResponse" type="tns:removeGroupFromRoleResponse"/>
			<element name="removeRole" type="tns:removeRole"/>
			<element name="removeRoleResponse" type="tns:removeRoleResponse"/>
			<element name="removeUserFromRole" type="tns:removeUserFromRole"/>
			<element name="removeUserFromRoleResponse" type="tns:removeUserFromRoleResponse"/>
			<element name="updateAttribute" type="tns:updateAttribute"/>
			<element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>
			<element name="updateRole" type="tns:updateRole"/>
			<element name="updateRoleResponse" type="tns:updateRoleResponse"/>
			<element name="getGroupsInRole" type="tns:getGroupsInRole"/>
			<element name="getGroupsInRoleResponse" type="tns:getGroupsInRoleResponse"/>
			<element name="getUsersInRole" type="tns:getUsersInRole"/>
			<element name="getUsersInRoleResponse" type="tns:getUsersInRoleResponse"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="isUserInRole">
		<wsdl:part name="parameters" element="types:isUserInRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttribute">
		<wsdl:part name="parameters" element="types:getAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesInGroup">
		<wsdl:part name="parameters" element="types:getRolesInGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesInServiceResponse">
		<wsdl:part name="parameters" element="types:getRolesInServiceResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoleResponse">
		<wsdl:part name="parameters" element="types:getRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserRolesByService">
		<wsdl:part name="parameters" element="types:getUserRolesByService">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRoleResponse">
		<wsdl:part name="parameters" element="types:addRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoleWithDependants">
		<wsdl:part name="parameters" element="types:getRoleWithDependants">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributesResponse">
		<wsdl:part name="parameters" element="types:removeAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllGroupsFromRole">
		<wsdl:part name="parameters" element="types:removeAllGroupsFromRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttributeResponse">
		<wsdl:part name="parameters" element="types:removeAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributes">
		<wsdl:part name="parameters" element="types:removeAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUserFromRoleResponse">
		<wsdl:part name="parameters" element="types:removeUserFromRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUserFromRole">
		<wsdl:part name="parameters" element="types:removeUserFromRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesInGroupResponse">
		<wsdl:part name="parameters" element="types:getRolesInGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addGroupToRoleResponse">
		<wsdl:part name="parameters" element="types:addGroupToRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttributeResponse">
		<wsdl:part name="parameters" element="types:addAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributesResponse">
		<wsdl:part name="parameters" element="types:getAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllRoles">
		<wsdl:part name="parameters" element="types:getAllRoles">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="isGroupInRole">
		<wsdl:part name="parameters" element="types:isGroupInRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserRoles">
		<wsdl:part name="parameters" element="types:getUserRoles">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserToRoleResponse">
		<wsdl:part name="parameters" element="types:addUserToRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="isUserInRoleResponse">
		<wsdl:part name="parameters" element="types:isUserInRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributes">
		<wsdl:part name="parameters" element="types:getAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeRole">
		<wsdl:part name="parameters" element="types:removeRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRole">
		<wsdl:part name="parameters" element="types:getRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttributeResponse">
		<wsdl:part name="parameters" element="types:updateAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateRole">
		<wsdl:part name="parameters" element="types:updateRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserToRole">
		<wsdl:part name="parameters" element="types:addUserToRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllGroupsFromRoleResponse">
		<wsdl:part name="parameters" element="types:removeAllGroupsFromRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoleWithDependantsResponse">
		<wsdl:part name="parameters" element="types:getRoleWithDependantsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRole">
		<wsdl:part name="parameters" element="types:addRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupFromRoleResponse">
		<wsdl:part name="parameters" element="types:removeGroupFromRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addGroupToRole">
		<wsdl:part name="parameters" element="types:addGroupToRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeRoleResponse">
		<wsdl:part name="parameters" element="types:removeRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttributeResponse">
		<wsdl:part name="parameters" element="types:getAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttribute">
		<wsdl:part name="parameters" element="types:addAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateRoleResponse">
		<wsdl:part name="parameters" element="types:updateRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupFromRole">
		<wsdl:part name="parameters" element="types:removeGroupFromRole">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttribute">
		<wsdl:part name="parameters" element="types:removeAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="isGroupInRoleResponse">
		<wsdl:part name="parameters" element="types:isGroupInRoleResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesInService">
		<wsdl:part name="parameters" element="types:getRolesInService">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllRolesResponse">
		<wsdl:part name="parameters" element="types:getAllRolesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserRolesResponse">
		<wsdl:part name="parameters" element="types:getUserRolesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserRolesByServiceResponse">
		<wsdl:part name="parameters" element="types:getUserRolesByServiceResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttribute">
		<wsdl:part name="parameters" element="types:updateAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGroupsInRole">
			<wsdl:part name="parameters" element="types:getGroupsInRole">
    </wsdl:part>
	</wsdl:message>

	<wsdl:message name="getGroupsInRoleResponse">
			<wsdl:part name="parameters" element="types:getGroupsInRoleResponse">
    </wsdl:part>
	</wsdl:message>

	<wsdl:message name="getUsersInRole">
			<wsdl:part name="parameters" element="types:getUsersInRole">
    </wsdl:part>
	</wsdl:message>

	<wsdl:message name="getUsersInRoleResponse">
			<wsdl:part name="parameters" element="types:getUsersInRoleResponse">
    </wsdl:part>
	</wsdl:message>

	<wsdl:portType name="RoleDataService">
		<wsdl:operation name="getAllAttributes">
			<wsdl:input name="getAllAttributes" message="tns:getAllAttributes">
    </wsdl:input>
			<wsdl:output name="getAllAttributesResponse" message="tns:getAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserRolesByService">
			<wsdl:input name="getUserRolesByService" message="tns:getUserRolesByService">
    </wsdl:input>
			<wsdl:output name="getUserRolesByServiceResponse" message="tns:getUserRolesByServiceResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupFromRole">
			<wsdl:input name="removeGroupFromRole" message="tns:removeGroupFromRole">
    </wsdl:input>
			<wsdl:output name="removeGroupFromRoleResponse" message="tns:removeGroupFromRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllGroupsFromRole">
			<wsdl:input name="removeAllGroupsFromRole" message="tns:removeAllGroupsFromRole">
    </wsdl:input>
			<wsdl:output name="removeAllGroupsFromRoleResponse" message="tns:removeAllGroupsFromRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<wsdl:input name="updateAttribute" message="tns:updateAttribute">
    </wsdl:input>
			<wsdl:output name="updateAttributeResponse" message="tns:updateAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isUserInRole">
			<wsdl:input name="isUserInRole" message="tns:isUserInRole">
    </wsdl:input>
			<wsdl:output name="isUserInRoleResponse" message="tns:isUserInRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addRole">
			<wsdl:input name="addRole" message="tns:addRole">
    </wsdl:input>
			<wsdl:output name="addRoleResponse" message="tns:addRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRolesInService">
			<wsdl:input name="getRolesInService" message="tns:getRolesInService">
    </wsdl:input>
			<wsdl:output name="getRolesInServiceResponse" message="tns:getRolesInServiceResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeRole">
			<wsdl:input name="removeRole" message="tns:removeRole">
    </wsdl:input>
			<wsdl:output name="removeRoleResponse" message="tns:removeRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserRoles">
			<wsdl:input name="getUserRoles" message="tns:getUserRoles">
    </wsdl:input>
			<wsdl:output name="getUserRolesResponse" message="tns:getUserRolesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRole">
			<wsdl:input name="getRole" message="tns:getRole">
    </wsdl:input>
			<wsdl:output name="getRoleResponse" message="tns:getRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoleWithDependants">
			<wsdl:input name="getRoleWithDependants" message="tns:getRoleWithDependants">
    </wsdl:input>
			<wsdl:output name="getRoleWithDependantsResponse" message="tns:getRoleWithDependantsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeUserFromRole">
			<wsdl:input name="removeUserFromRole" message="tns:removeUserFromRole">
    </wsdl:input>
			<wsdl:output name="removeUserFromRoleResponse" message="tns:removeUserFromRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<wsdl:input name="removeAllAttributes" message="tns:removeAllAttributes">
    </wsdl:input>
			<wsdl:output name="removeAllAttributesResponse" message="tns:removeAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isGroupInRole">
			<wsdl:input name="isGroupInRole" message="tns:isGroupInRole">
    </wsdl:input>
			<wsdl:output name="isGroupInRoleResponse" message="tns:isGroupInRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateRole">
			<wsdl:input name="updateRole" message="tns:updateRole">
    </wsdl:input>
			<wsdl:output name="updateRoleResponse" message="tns:updateRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRolesInGroup">
			<wsdl:input name="getRolesInGroup" message="tns:getRolesInGroup">
    </wsdl:input>
			<wsdl:output name="getRolesInGroupResponse" message="tns:getRolesInGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<wsdl:input name="addAttribute" message="tns:addAttribute">
    </wsdl:input>
			<wsdl:output name="addAttributeResponse" message="tns:addAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<wsdl:input name="getAttribute" message="tns:getAttribute">
    </wsdl:input>
			<wsdl:output name="getAttributeResponse" message="tns:getAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addGroupToRole">
			<wsdl:input name="addGroupToRole" message="tns:addGroupToRole">
    </wsdl:input>
			<wsdl:output name="addGroupToRoleResponse" message="tns:addGroupToRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserToRole">
			<wsdl:input name="addUserToRole" message="tns:addUserToRole">
    </wsdl:input>
			<wsdl:output name="addUserToRoleResponse" message="tns:addUserToRoleResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<wsdl:input name="removeAttribute" message="tns:removeAttribute">
    </wsdl:input>
			<wsdl:output name="removeAttributeResponse" message="tns:removeAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllRoles">
			<wsdl:input name="getAllRoles" message="tns:getAllRoles">
    </wsdl:input>
			<wsdl:output name="getAllRolesResponse" message="tns:getAllRolesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupsInRole">
			<wsdl:input name="getGroupsInRole" message="tns:getGroupsInRole"/>
			<wsdl:output name="getGroupsInRoleResponse" message="tns:getGroupsInRoleResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUsersInRole">
			<wsdl:input name="getUsersInRole" message="tns:getUsersInRole"/>
			<wsdl:output name="getUsersInRoleResponse" message="tns:getUsersInRoleResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RoleDataServiceBinding" type="tns:RoleDataService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserRolesByService">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUserRolesByService">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserRolesByServiceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupFromRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeGroupFromRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeGroupFromRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllGroupsFromRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllGroupsFromRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllGroupsFromRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isUserInRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="isUserInRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isUserInRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRolesInService">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getRolesInService">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRolesInServiceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserRoles">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUserRoles">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserRolesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoleWithDependants">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getRoleWithDependants">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRoleWithDependantsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeUserFromRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeUserFromRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeUserFromRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isGroupInRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="isGroupInRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isGroupInRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRolesInGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getRolesInGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRolesInGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addGroupToRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addGroupToRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addGroupToRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserToRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addUserToRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addUserToRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllRoles">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllRoles">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllRolesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupsInRole">
		<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getGroupsInRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getGroupsInRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersInRole">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUsersInRole">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUsersInRoleResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RoleDataWebService">
		<wsdl:port name="RoleDataServicePort" binding="tns:RoleDataServiceBinding">
			<soap:address location="http://localhost:8080/iam-ws/RoleDataService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
