pojo-ws/src/main/webapp/WEB-INF/wsdl/UserDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/user/service" xmlns:types="urn:idm.openiam.org/srvc/user/types" xmlns:user="urn:idm.openiam.org/srvc/user/dto" xmlns:meta="urn:idm.openiam.org/srvc/meta/dto" xmlns:cont="urn:idm.openiam.org/srvc/continfo/dto" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="UserDataWebService" targetNamespace="urn:idm.openiam.org/srvc/user/service">
	<wsdl:types>
		<schema targetNamespace="urn:idm.openiam.org/srvc/user/types" xmlns:tns="urn:idm.openiam.org/srvc/user/types" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="unqualified">
			<import namespace="urn:idm.openiam.org/srvc/user/dto" schemaLocation="user.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/continfo/dto" schemaLocation="continfo.xsd"/>
			<element name="getUser" type="tns:getUser"/>
			<complexType name="getUser">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getUserResponse" type="tns:getUserResponse"/>
			<complexType name="getUserResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="updateAttribute" type="tns:updateAttribute"/>
			<complexType name="updateAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userAttribute"/>
				</sequence>
			</complexType>
			<element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>
			<complexType name="updateAttributeResponse">
				<sequence/>
			</complexType>
			<element name="removeNote" type="tns:removeNote"/>
			<complexType name="removeNote">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="removeNoteResponse" type="tns:removeNoteResponse"/>
			<complexType name="removeNoteResponse">
				<sequence/>
			</complexType>
			<element name="removeUser" type="tns:removeUser"/>
			<complexType name="removeUser">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeUserResponse" type="tns:removeUserResponse"/>
			<complexType name="removeUserResponse">
				<sequence/>
			</complexType>
			<element name="getEmailAddressByName" type="tns:getEmailAddressByName"/>
			<complexType name="getEmailAddressByName">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressByNameResponse" type="tns:getEmailAddressByNameResponse"/>
			<complexType name="getEmailAddressByNameResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="addUserWithDependent" type="tns:addUserWithDependent"/>
			<complexType name="addUserWithDependent">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:user"/>
					<element name="arg1" type="boolean"/>
				</sequence>
			</complexType>
			<element name="addUserWithDependentResponse" type="tns:addUserWithDependentResponse"/>
			<complexType name="addUserWithDependentResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="updatePhone" type="tns:updatePhone"/>
			<complexType name="updatePhone">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="updatePhoneResponse" type="tns:updatePhoneResponse"/>
			<complexType name="updatePhoneResponse">
				<sequence/>
			</complexType>
			<element name="getEmailAddressById" type="tns:getEmailAddressById"/>
			<complexType name="getEmailAddressById">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressByIdResponse" type="tns:getEmailAddressByIdResponse"/>
			<complexType name="getEmailAddressByIdResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="getPhoneMap" type="tns:getPhoneMap"/>
			<complexType name="getPhoneMap">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getPhoneMapResponse" type="tns:getPhoneMapResponse"/>
			<complexType name="getPhoneMapResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:phoneMap"/>
				</sequence>
			</complexType>
			<element name="addAddress" type="tns:addAddress"/>
			<complexType name="addAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="addAddressResponse" type="tns:addAddressResponse"/>
			<complexType name="addAddressResponse">
				<sequence/>
			</complexType>
			<element name="addSupervisor" type="tns:addSupervisor"/>
			<complexType name="addSupervisor">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="addSupervisorResponse" type="tns:addSupervisorResponse"/>
			<complexType name="addSupervisorResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="addUser" type="tns:addUser"/>
			<complexType name="addUser">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:user"/>
				</sequence>
			</complexType>
			<element name="addUserResponse" type="tns:addUserResponse"/>
			<complexType name="addUserResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="updateNote" type="tns:updateNote"/>
			<complexType name="updateNote">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="updateNoteResponse" type="tns:updateNoteResponse"/>
			<complexType name="updateNoteResponse">
				<sequence/>
			</complexType>
			<element name="updateSupervisor" type="tns:updateSupervisor"/>
			<complexType name="updateSupervisor">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="updateSupervisorResponse" type="tns:updateSupervisorResponse"/>
			<complexType name="updateSupervisorResponse">
				<sequence/>
			</complexType>
			<element name="removeAllAttributes" type="tns:removeAllAttributes"/>
			<complexType name="removeAllAttributes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeAllAttributesResponse" type="tns:removeAllAttributesResponse"/>
			<complexType name="removeAllAttributesResponse">
				<sequence/>
			</complexType>
			<element name="getAllAttributes" type="tns:getAllAttributes"/>
			<complexType name="getAllAttributes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAllAttributesResponse" type="tns:getAllAttributesResponse"/>
			<complexType name="getAllAttributesResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userAttributeMap"/>
				</sequence>
			</complexType>
			<element name="getAddressById" type="tns:getAddressById"/>
			<complexType name="getAddressById">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAddressByIdResponse" type="tns:getAddressByIdResponse"/>
			<complexType name="getAddressByIdResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="removeAddress" type="tns:removeAddress"/>
			<complexType name="removeAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="removeAddressResponse" type="tns:removeAddressResponse"/>
			<complexType name="removeAddressResponse">
				<sequence/>
			</complexType>
			<element name="updateUserWithDependent" type="tns:updateUserWithDependent"/>
			<complexType name="updateUserWithDependent">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:user"/>
					<element name="arg1" type="boolean"/>
				</sequence>
			</complexType>
			<element name="updateUserWithDependentResponse" type="tns:updateUserWithDependentResponse"/>
			<complexType name="updateUserWithDependentResponse">
				<sequence/>
			</complexType>
			<element name="removeEmailAddress" type="tns:removeEmailAddress"/>
			<complexType name="removeEmailAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="removeEmailAddressResponse" type="tns:removeEmailAddressResponse"/>
			<complexType name="removeEmailAddressResponse">
				<sequence/>
			</complexType>
			<element name="getAddressMap" type="tns:getAddressMap"/>
			<complexType name="getAddressMap">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAddressMapResponse" type="tns:getAddressMapResponse"/>
			<complexType name="getAddressMapResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:addressMap"/>
				</sequence>
			</complexType>
			<element name="getDefaultPhone" type="tns:getDefaultPhone"/>
			<complexType name="getDefaultPhone">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getDefaultPhoneResponse" type="tns:getDefaultPhoneResponse"/>
			<complexType name="getDefaultPhoneResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="removeAllNotes" type="tns:removeAllNotes"/>
			<complexType name="removeAllNotes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeAllNotesResponse" type="tns:removeAllNotesResponse"/>
			<complexType name="removeAllNotesResponse">
				<sequence/>
			</complexType>
			<element name="findUsersByStatus" type="tns:findUsersByStatus"/>
			<complexType name="findUsersByStatus">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="findUsersByStatusResponse" type="tns:findUsersByStatusResponse"/>
			<complexType name="findUsersByStatusResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="getUserAsMap" type="tns:getUserAsMap"/>
			<complexType name="getUserAsMap">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getUserAsMapResponse" type="tns:getUserAsMapResponse"/>
			<complexType name="getUserAsMapResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userAttributeMap"/>
				</sequence>
			</complexType>
			<element name="removeAllEmailAddresses" type="tns:removeAllEmailAddresses"/>
			<complexType name="removeAllEmailAddresses">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeAllEmailAddressesResponse" type="tns:removeAllEmailAddressesResponse"/>
			<complexType name="removeAllEmailAddressesResponse">
				<sequence/>
			</complexType>
			<element name="updateUser" type="tns:updateUser"/>
			<complexType name="updateUser">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:user"/>
				</sequence>
			</complexType>
			<element name="updateUserResponse" type="tns:updateUserResponse"/>
			<complexType name="updateUserResponse">
				<sequence/>
			</complexType>
			<element name="getPrimarySupervisor" type="tns:getPrimarySupervisor"/>
			<complexType name="getPrimarySupervisor">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getPrimarySupervisorResponse" type="tns:getPrimarySupervisorResponse"/>
			<complexType name="getPrimarySupervisorResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="getNote" type="tns:getNote"/>
			<complexType name="getNote">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getNoteResponse" type="tns:getNoteResponse"/>
			<complexType name="getNoteResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="removePhone" type="tns:removePhone"/>
			<complexType name="removePhone">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="removePhoneResponse" type="tns:removePhoneResponse"/>
			<complexType name="removePhoneResponse">
				<sequence/>
			</complexType>
			<element name="getSupervisor" type="tns:getSupervisor"/>
			<complexType name="getSupervisor">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getSupervisorResponse" type="tns:getSupervisorResponse"/>
			<complexType name="getSupervisorResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="addAttribute" type="tns:addAttribute"/>
			<complexType name="addAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userAttribute"/>
				</sequence>
			</complexType>
			<element name="addAttributeResponse" type="tns:addAttributeResponse"/>
			<complexType name="addAttributeResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userAttribute"/>
				</sequence>
			</complexType>
			<element name="getPhoneList" type="tns:getPhoneList"/>
			<complexType name="getPhoneList">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getPhoneListResponse" type="tns:getPhoneListResponse"/>
			<complexType name="getPhoneListResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="updateEmailAddress" type="tns:updateEmailAddress"/>
			<complexType name="updateEmailAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="updateEmailAddressResponse" type="tns:updateEmailAddressResponse"/>
			<complexType name="updateEmailAddressResponse">
				<sequence/>
			</complexType>
			<element name="getUserWithDependent" type="tns:getUserWithDependent"/>
			<complexType name="getUserWithDependent">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element name="arg1" type="boolean"/>
				</sequence>
			</complexType>
			<element name="getUserWithDependentResponse" type="tns:getUserWithDependentResponse"/>
			<complexType name="getUserWithDependentResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="removeAttribute" type="tns:removeAttribute"/>
			<complexType name="removeAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userAttribute"/>
				</sequence>
			</complexType>
			<element name="removeAttributeResponse" type="tns:removeAttributeResponse"/>
			<complexType name="removeAttributeResponse">
				<sequence/>
			</complexType>
			<element name="getAddressList" type="tns:getAddressList"/>
			<complexType name="getAddressList">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAddressListResponse" type="tns:getAddressListResponse"/>
			<complexType name="getAddressListResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="addPhone" type="tns:addPhone"/>
			<complexType name="addPhone">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="addPhoneResponse" type="tns:addPhoneResponse"/>
			<complexType name="addPhoneResponse">
				<sequence/>
			</complexType>
			<!--element name="search" type="tns:search"/>
			<complexType name="search">
				<sequence>
					<element minOccurs="0" name="arg0"/>
				</sequence>
			</complexType>
			<element name="searchResponse" type="tns:searchResponse"/>
			<complexType name="searchResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType-->
			<element name="addNote" type="tns:addNote"/>
			<complexType name="addNote">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="addNoteResponse" type="tns:addNoteResponse"/>
			<complexType name="addNoteResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="getPhoneByName" type="tns:getPhoneByName"/>
			<complexType name="getPhoneByName">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<element name="getPhoneByNameResponse" type="tns:getPhoneByNameResponse"/>
			<complexType name="getPhoneByNameResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="getPhoneById" type="tns:getPhoneById"/>
			<complexType name="getPhoneById">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getPhoneByIdResponse" type="tns:getPhoneByIdResponse"/>
			<complexType name="getPhoneByIdResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:phone"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressMap" type="tns:getEmailAddressMap"/>
			<complexType name="getEmailAddressMap">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressMapResponse" type="tns:getEmailAddressMapResponse"/>
			<complexType name="getEmailAddressMapResponse">
				<sequence>
					<element minOccurs="0" name="return"/>
				</sequence>
			</complexType>
			<element name="getDefaultEmailAddress" type="tns:getDefaultEmailAddress"/>
			<complexType name="getDefaultEmailAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getDefaultEmailAddressResponse" type="tns:getDefaultEmailAddressResponse"/>
			<complexType name="getDefaultEmailAddressResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="getEmployees" type="tns:getEmployees"/>
			<complexType name="getEmployees">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getEmployeesResponse" type="tns:getEmployeesResponse"/>
			<complexType name="getEmployeesResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="findUsersByLastUpdateRange" type="tns:findUsersByLastUpdateRange"/>
			<complexType name="findUsersByLastUpdateRange">
				<sequence>
					<element minOccurs="0" name="arg0" type="dateTime"/>
					<element minOccurs="0" name="arg1" type="dateTime"/>
				</sequence>
			</complexType>
			<element name="findUsersByLastUpdateRangeResponse" type="tns:findUsersByLastUpdateRangeResponse"/>
			<complexType name="findUsersByLastUpdateRangeResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="addEmailAddress" type="tns:addEmailAddress"/>
			<complexType name="addEmailAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="addEmailAddressResponse" type="tns:addEmailAddressResponse"/>
			<complexType name="addEmailAddressResponse">
				<sequence/>
			</complexType>
			<element name="removeSupervisor" type="tns:removeSupervisor"/>
			<complexType name="removeSupervisor">
				<sequence>
					<element minOccurs="0" name="arg0" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="removeSupervisorResponse" type="tns:removeSupervisorResponse"/>
			<complexType name="removeSupervisorResponse">
				<sequence/>
			</complexType>
			<element name="removeAllAddresses" type="tns:removeAllAddresses"/>
			<complexType name="removeAllAddresses">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeAllAddressesResponse" type="tns:removeAllAddressesResponse"/>
			<complexType name="removeAllAddressesResponse">
				<sequence/>
			</complexType>
			<element name="getSupervisors" type="tns:getSupervisors"/>
			<complexType name="getSupervisors">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getSupervisorsResponse" type="tns:getSupervisorsResponse"/>
			<complexType name="getSupervisorsResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:supervisor"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressList" type="tns:getEmailAddressList"/>
			<complexType name="getEmailAddressList">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getEmailAddressListResponse" type="tns:getEmailAddressListResponse"/>
			<complexType name="getEmailAddressListResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="cont:emailAddress"/>
				</sequence>
			</complexType>
			<element name="updateAddress" type="tns:updateAddress"/>
			<complexType name="updateAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="updateAddressResponse" type="tns:updateAddressResponse"/>
			<complexType name="updateAddressResponse">
				<sequence/>
			</complexType>
			<element name="getDefaultAddress" type="tns:getDefaultAddress"/>
			<complexType name="getDefaultAddress">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getDefaultAddressResponse" type="tns:getDefaultAddressResponse"/>
			<complexType name="getDefaultAddressResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="findUserByOrganization" type="tns:findUserByOrganization"/>
			<complexType name="findUserByOrganization">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="findUserByOrganizationResponse" type="tns:findUserByOrganizationResponse"/>
			<complexType name="findUserByOrganizationResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:user"/>
				</sequence>
			</complexType>
			<element name="getAllNotes" type="tns:getAllNotes"/>
			<complexType name="getAllNotes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAllNotesResponse" type="tns:getAllNotesResponse"/>
			<complexType name="getAllNotesResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="user:userNote"/>
				</sequence>
			</complexType>
			<element name="getAttribute" type="tns:getAttribute"/>
			<complexType name="getAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="getAttributeResponse" type="tns:getAttributeResponse"/>
			<complexType name="getAttributeResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userAttribute"/>
				</sequence>
			</complexType>
			<element name="getAddressByName" type="tns:getAddressByName"/>
			<complexType name="getAddressByName">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<element name="getAddressByNameResponse" type="tns:getAddressByNameResponse"/>
			<complexType name="getAddressByNameResponse">
				<sequence>
					<element minOccurs="0" name="return" type="cont:address"/>
				</sequence>
			</complexType>
			<element name="removeAllPhones" type="tns:removeAllPhones"/>
			<complexType name="removeAllPhones">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<element name="removeAllPhonesResponse" type="tns:removeAllPhonesResponse"/>
			<complexType name="removeAllPhonesResponse">
				<sequence/>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="removeAllNotes">
		<wsdl:part name="parameters" element="types:removeAllNotes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttribute">
		<wsdl:part name="parameters" element="types:removeAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultAddressResponse">
		<wsdl:part name="parameters" element="types:getDefaultAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addEmailAddress">
		<wsdl:part name="parameters" element="types:addEmailAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressByNameResponse">
		<wsdl:part name="parameters" element="types:getEmailAddressByNameResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPrimarySupervisor">
		<wsdl:part name="parameters" element="types:getPrimarySupervisor">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupervisorsResponse">
		<wsdl:part name="parameters" element="types:getSupervisorsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAddress">
		<wsdl:part name="parameters" element="types:addAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserWithDependentResponse">
		<wsdl:part name="parameters" element="types:addUserWithDependentResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultEmailAddressResponse">
		<wsdl:part name="parameters" element="types:getDefaultEmailAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateEmailAddress">
		<wsdl:part name="parameters" element="types:updateEmailAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAddresses">
		<wsdl:part name="parameters" element="types:removeAllAddresses">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserAsMap">
		<wsdl:part name="parameters" element="types:getUserAsMap">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateNote">
		<wsdl:part name="parameters" element="types:updateNote">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeNoteResponse">
		<wsdl:part name="parameters" element="types:removeNoteResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeSupervisor">
		<wsdl:part name="parameters" element="types:removeSupervisor">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeSupervisorResponse">
		<wsdl:part name="parameters" element="types:removeSupervisorResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeEmailAddress">
		<wsdl:part name="parameters" element="types:removeEmailAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressByName">
		<wsdl:part name="parameters" element="types:getAddressByName">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllNotesResponse">
		<wsdl:part name="parameters" element="types:removeAllNotesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressMap">
		<wsdl:part name="parameters" element="types:getEmailAddressMap">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressById">
		<wsdl:part name="parameters" element="types:getAddressById">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateEmailAddressResponse">
		<wsdl:part name="parameters" element="types:updateEmailAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllPhones">
		<wsdl:part name="parameters" element="types:removeAllPhones">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addSupervisorResponse">
		<wsdl:part name="parameters" element="types:addSupervisorResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeNote">
		<wsdl:part name="parameters" element="types:removeNote">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAddressResponse">
		<wsdl:part name="parameters" element="types:updateAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserWithDependent">
		<wsdl:part name="parameters" element="types:getUserWithDependent">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAddress">
		<wsdl:part name="parameters" element="types:removeAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultPhone">
		<wsdl:part name="parameters" element="types:getDefaultPhone">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUser">
		<wsdl:part name="parameters" element="types:updateUser">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNoteResponse">
		<wsdl:part name="parameters" element="types:getNoteResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addPhone">
		<wsdl:part name="parameters" element="types:addPhone">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeEmailAddressResponse">
		<wsdl:part name="parameters" element="types:removeEmailAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupervisor">
		<wsdl:part name="parameters" element="types:getSupervisor">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressByIdResponse">
		<wsdl:part name="parameters" element="types:getAddressByIdResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneByNameResponse">
		<wsdl:part name="parameters" element="types:getPhoneByNameResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressMapResponse">
		<wsdl:part name="parameters" element="types:getEmailAddressMapResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addSupervisor">
		<wsdl:part name="parameters" element="types:addSupervisor">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressMap">
		<wsdl:part name="parameters" element="types:getAddressMap">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributes">
		<wsdl:part name="parameters" element="types:removeAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUsersByStatusResponse">
		<wsdl:part name="parameters" element="types:findUsersByStatusResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributesResponse">
		<wsdl:part name="parameters" element="types:getAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUserWithDependent">
		<wsdl:part name="parameters" element="types:updateUserWithDependent">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributes">
		<wsdl:part name="parameters" element="types:getAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultAddress">
		<wsdl:part name="parameters" element="types:getDefaultAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmployeesResponse">
		<wsdl:part name="parameters" element="types:getEmployeesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateSupervisor">
		<wsdl:part name="parameters" element="types:updateSupervisor">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneMapResponse">
		<wsdl:part name="parameters" element="types:getPhoneMapResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllEmailAddressesResponse">
		<wsdl:part name="parameters" element="types:removeAllEmailAddressesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllNotesResponse">
		<wsdl:part name="parameters" element="types:getAllNotesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressList">
		<wsdl:part name="parameters" element="types:getEmailAddressList">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributesResponse">
		<wsdl:part name="parameters" element="types:removeAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAddressResponse">
		<wsdl:part name="parameters" element="types:addAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneList">
		<wsdl:part name="parameters" element="types:getPhoneList">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressListResponse">
		<wsdl:part name="parameters" element="types:getAddressListResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePhone">
		<wsdl:part name="parameters" element="types:removePhone">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAddressesResponse">
		<wsdl:part name="parameters" element="types:removeAllAddressesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupervisorResponse">
		<wsdl:part name="parameters" element="types:getSupervisorResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttribute">
		<wsdl:part name="parameters" element="types:addAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addEmailAddressResponse">
		<wsdl:part name="parameters" element="types:addEmailAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUsersByLastUpdateRange">
		<wsdl:part name="parameters" element="types:findUsersByLastUpdateRange">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressList">
		<wsdl:part name="parameters" element="types:getAddressList">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttribute">
		<wsdl:part name="parameters" element="types:updateAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUserResponse">
		<wsdl:part name="parameters" element="types:updateUserResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressByName">
		<wsdl:part name="parameters" element="types:getEmailAddressByName">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAddressResponse">
		<wsdl:part name="parameters" element="types:removeAddressResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserWithDependentResponse">
		<wsdl:part name="parameters" element="types:getUserWithDependentResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUser">
		<wsdl:part name="parameters" type="types:getUser">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttributeResponse">
		<wsdl:part name="parameters" element="types:getAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllEmailAddresses">
		<wsdl:part name="parameters" element="types:removeAllEmailAddresses">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserWithDependent">
		<wsdl:part name="parameters" element="types:addUserWithDependent">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneByIdResponse">
		<wsdl:part name="parameters" element="types:getPhoneByIdResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressById">
		<wsdl:part name="parameters" element="types:getEmailAddressById">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupervisors">
		<wsdl:part name="parameters" element="types:getSupervisors">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUser">
		<wsdl:part name="parameters" element="types:removeUser">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressMapResponse">
		<wsdl:part name="parameters" element="types:getAddressMapResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttributeResponse">
		<wsdl:part name="parameters" element="types:addAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAddress">
		<wsdl:part name="parameters" element="types:updateAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneById">
		<wsdl:part name="parameters" element="types:getPhoneById">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateSupervisorResponse">
		<wsdl:part name="parameters" element="types:updateSupervisorResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultPhoneResponse">
		<wsdl:part name="parameters" element="types:getDefaultPhoneResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAddressByNameResponse">
		<wsdl:part name="parameters" element="types:getAddressByNameResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePhoneResponse">
		<wsdl:part name="parameters" element="types:updatePhoneResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNoteResponse">
		<wsdl:part name="parameters" element="types:addNoteResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUserResponse">
		<wsdl:part name="parameters" element="types:removeUserResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNote">
		<wsdl:part name="parameters" element="types:getNote">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttributeResponse">
		<wsdl:part name="parameters" element="types:removeAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUserByOrganizationResponse">
		<wsdl:part name="parameters" element="types:findUserByOrganizationResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addPhoneResponse">
		<wsdl:part name="parameters" element="types:addPhoneResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDefaultEmailAddress">
		<wsdl:part name="parameters" element="types:getDefaultEmailAddress">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneByName">
		<wsdl:part name="parameters" element="types:getPhoneByName">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUsersByStatus">
		<wsdl:part name="parameters" element="types:findUsersByStatus">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneListResponse">
		<wsdl:part name="parameters" element="types:getPhoneListResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllNotes">
		<wsdl:part name="parameters" element="types:getAllNotes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePhone">
		<wsdl:part name="parameters" element="types:updatePhone">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNote">
		<wsdl:part name="parameters" element="types:addNote">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUsersByLastUpdateRangeResponse">
		<wsdl:part name="parameters" element="types:findUsersByLastUpdateRangeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUserByOrganization">
		<wsdl:part name="parameters" element="types:findUserByOrganization">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateNoteResponse">
		<wsdl:part name="parameters" element="types:updateNoteResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUserWithDependentResponse">
		<wsdl:part name="parameters" element="types:updateUserWithDependentResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part name="parameters" element="types:getUserResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttributeResponse">
		<wsdl:part name="parameters" element="types:updateAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUser">
		<wsdl:part name="parameters" element="types:addUser">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllPhonesResponse">
		<wsdl:part name="parameters" element="types:removeAllPhonesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPhoneMap">
		<wsdl:part name="parameters" element="types:getPhoneMap">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttribute">
		<wsdl:part name="parameters" element="types:getAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressByIdResponse">
		<wsdl:part name="parameters" element="types:getEmailAddressByIdResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserAsMapResponse">
		<wsdl:part name="parameters" element="types:getUserAsMapResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmployees">
		<wsdl:part name="parameters" element="types:getEmployees">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPrimarySupervisorResponse">
		<wsdl:part name="parameters" element="types:getPrimarySupervisorResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePhoneResponse">
		<wsdl:part name="parameters" element="types:removePhoneResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmailAddressListResponse">
		<wsdl:part name="parameters" element="types:getEmailAddressListResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserResponse">
		<wsdl:part name="parameters" element="types:addUserResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UserDataService">
		<wsdl:operation name="getUser">
			<wsdl:input name="getUser" message="tns:getUser">
    </wsdl:input>
			<wsdl:output name="getUserResponse" message="tns:getUserResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<wsdl:input name="updateAttribute" message="tns:updateAttribute">
    </wsdl:input>
			<wsdl:output name="updateAttributeResponse" message="tns:updateAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeNote">
			<wsdl:input name="removeNote" message="tns:removeNote">
    </wsdl:input>
			<wsdl:output name="removeNoteResponse" message="tns:removeNoteResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeUser">
			<wsdl:input name="removeUser" message="tns:removeUser">
    </wsdl:input>
			<wsdl:output name="removeUserResponse" message="tns:removeUserResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressByName">
			<wsdl:input name="getEmailAddressByName" message="tns:getEmailAddressByName">
    </wsdl:input>
			<wsdl:output name="getEmailAddressByNameResponse" message="tns:getEmailAddressByNameResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserWithDependent">
			<wsdl:input name="addUserWithDependent" message="tns:addUserWithDependent">
    </wsdl:input>
			<wsdl:output name="addUserWithDependentResponse" message="tns:addUserWithDependentResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePhone">
			<wsdl:input name="updatePhone" message="tns:updatePhone">
    </wsdl:input>
			<wsdl:output name="updatePhoneResponse" message="tns:updatePhoneResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressById">
			<wsdl:input name="getEmailAddressById" message="tns:getEmailAddressById">
    </wsdl:input>
			<wsdl:output name="getEmailAddressByIdResponse" message="tns:getEmailAddressByIdResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneMap">
			<wsdl:input name="getPhoneMap" message="tns:getPhoneMap">
    </wsdl:input>
			<wsdl:output name="getPhoneMapResponse" message="tns:getPhoneMapResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAddress">
			<wsdl:input name="addAddress" message="tns:addAddress">
    </wsdl:input>
			<wsdl:output name="addAddressResponse" message="tns:addAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSupervisor">
			<wsdl:input name="addSupervisor" message="tns:addSupervisor">
    </wsdl:input>
			<wsdl:output name="addSupervisorResponse" message="tns:addSupervisorResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUser">
			<wsdl:input name="addUser" message="tns:addUser">
    </wsdl:input>
			<wsdl:output name="addUserResponse" message="tns:addUserResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateNote">
			<wsdl:input name="updateNote" message="tns:updateNote">
    </wsdl:input>
			<wsdl:output name="updateNoteResponse" message="tns:updateNoteResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateSupervisor">
			<wsdl:input name="updateSupervisor" message="tns:updateSupervisor">
    </wsdl:input>
			<wsdl:output name="updateSupervisorResponse" message="tns:updateSupervisorResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<wsdl:input name="removeAllAttributes" message="tns:removeAllAttributes">
    </wsdl:input>
			<wsdl:output name="removeAllAttributesResponse" message="tns:removeAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<wsdl:input name="getAllAttributes" message="tns:getAllAttributes">
    </wsdl:input>
			<wsdl:output name="getAllAttributesResponse" message="tns:getAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressById">
			<wsdl:input name="getAddressById" message="tns:getAddressById">
    </wsdl:input>
			<wsdl:output name="getAddressByIdResponse" message="tns:getAddressByIdResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAddress">
			<wsdl:input name="removeAddress" message="tns:removeAddress">
    </wsdl:input>
			<wsdl:output name="removeAddressResponse" message="tns:removeAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUserWithDependent">
			<wsdl:input name="updateUserWithDependent" message="tns:updateUserWithDependent">
    </wsdl:input>
			<wsdl:output name="updateUserWithDependentResponse" message="tns:updateUserWithDependentResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeEmailAddress">
			<wsdl:input name="removeEmailAddress" message="tns:removeEmailAddress">
    </wsdl:input>
			<wsdl:output name="removeEmailAddressResponse" message="tns:removeEmailAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressMap">
			<wsdl:input name="getAddressMap" message="tns:getAddressMap">
    </wsdl:input>
			<wsdl:output name="getAddressMapResponse" message="tns:getAddressMapResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultPhone">
			<wsdl:input name="getDefaultPhone" message="tns:getDefaultPhone">
    </wsdl:input>
			<wsdl:output name="getDefaultPhoneResponse" message="tns:getDefaultPhoneResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllNotes">
			<wsdl:input name="removeAllNotes" message="tns:removeAllNotes">
    </wsdl:input>
			<wsdl:output name="removeAllNotesResponse" message="tns:removeAllNotesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUsersByStatus">
			<wsdl:input name="findUsersByStatus" message="tns:findUsersByStatus">
    </wsdl:input>
			<wsdl:output name="findUsersByStatusResponse" message="tns:findUsersByStatusResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserAsMap">
			<wsdl:input name="getUserAsMap" message="tns:getUserAsMap">
    </wsdl:input>
			<wsdl:output name="getUserAsMapResponse" message="tns:getUserAsMapResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllEmailAddresses">
			<wsdl:input name="removeAllEmailAddresses" message="tns:removeAllEmailAddresses">
    </wsdl:input>
			<wsdl:output name="removeAllEmailAddressesResponse" message="tns:removeAllEmailAddressesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<wsdl:input name="updateUser" message="tns:updateUser">
    </wsdl:input>
			<wsdl:output name="updateUserResponse" message="tns:updateUserResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPrimarySupervisor">
			<wsdl:input name="getPrimarySupervisor" message="tns:getPrimarySupervisor">
    </wsdl:input>
			<wsdl:output name="getPrimarySupervisorResponse" message="tns:getPrimarySupervisorResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNote">
			<wsdl:input name="getNote" message="tns:getNote">
    </wsdl:input>
			<wsdl:output name="getNoteResponse" message="tns:getNoteResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePhone">
			<wsdl:input name="removePhone" message="tns:removePhone">
    </wsdl:input>
			<wsdl:output name="removePhoneResponse" message="tns:removePhoneResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupervisor">
			<wsdl:input name="getSupervisor" message="tns:getSupervisor">
    </wsdl:input>
			<wsdl:output name="getSupervisorResponse" message="tns:getSupervisorResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<wsdl:input name="addAttribute" message="tns:addAttribute">
    </wsdl:input>
			<wsdl:output name="addAttributeResponse" message="tns:addAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneList">
			<wsdl:input name="getPhoneList" message="tns:getPhoneList">
    </wsdl:input>
			<wsdl:output name="getPhoneListResponse" message="tns:getPhoneListResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateEmailAddress">
			<wsdl:input name="updateEmailAddress" message="tns:updateEmailAddress">
    </wsdl:input>
			<wsdl:output name="updateEmailAddressResponse" message="tns:updateEmailAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserWithDependent">
			<wsdl:input name="getUserWithDependent" message="tns:getUserWithDependent">
    </wsdl:input>
			<wsdl:output name="getUserWithDependentResponse" message="tns:getUserWithDependentResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<wsdl:input name="removeAttribute" message="tns:removeAttribute">
    </wsdl:input>
			<wsdl:output name="removeAttributeResponse" message="tns:removeAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressList">
			<wsdl:input name="getAddressList" message="tns:getAddressList">
    </wsdl:input>
			<wsdl:output name="getAddressListResponse" message="tns:getAddressListResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPhone">
			<wsdl:input name="addPhone" message="tns:addPhone">
    </wsdl:input>
			<wsdl:output name="addPhoneResponse" message="tns:addPhoneResponse">
    </wsdl:output>
		</wsdl:operation>
		<!--wsdl:operation name="search">
			<wsdl:input name="search" message="tns:search">
    </wsdl:input>
			<wsdl:output name="searchResponse" message="tns:searchResponse">
    </wsdl:output>
		</wsdl:operation-->
		<wsdl:operation name="addNote">
			<wsdl:input name="addNote" message="tns:addNote">
    </wsdl:input>
			<wsdl:output name="addNoteResponse" message="tns:addNoteResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneByName">
			<wsdl:input name="getPhoneByName" message="tns:getPhoneByName">
    </wsdl:input>
			<wsdl:output name="getPhoneByNameResponse" message="tns:getPhoneByNameResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneById">
			<wsdl:input name="getPhoneById" message="tns:getPhoneById">
    </wsdl:input>
			<wsdl:output name="getPhoneByIdResponse" message="tns:getPhoneByIdResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressMap">
			<wsdl:input name="getEmailAddressMap" message="tns:getEmailAddressMap">
    </wsdl:input>
			<wsdl:output name="getEmailAddressMapResponse" message="tns:getEmailAddressMapResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultEmailAddress">
			<wsdl:input name="getDefaultEmailAddress" message="tns:getDefaultEmailAddress">
    </wsdl:input>
			<wsdl:output name="getDefaultEmailAddressResponse" message="tns:getDefaultEmailAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmployees">
			<wsdl:input name="getEmployees" message="tns:getEmployees">
    </wsdl:input>
			<wsdl:output name="getEmployeesResponse" message="tns:getEmployeesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUsersByLastUpdateRange">
			<wsdl:input name="findUsersByLastUpdateRange" message="tns:findUsersByLastUpdateRange">
    </wsdl:input>
			<wsdl:output name="findUsersByLastUpdateRangeResponse" message="tns:findUsersByLastUpdateRangeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addEmailAddress">
			<wsdl:input name="addEmailAddress" message="tns:addEmailAddress">
    </wsdl:input>
			<wsdl:output name="addEmailAddressResponse" message="tns:addEmailAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeSupervisor">
			<wsdl:input name="removeSupervisor" message="tns:removeSupervisor">
    </wsdl:input>
			<wsdl:output name="removeSupervisorResponse" message="tns:removeSupervisorResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAddresses">
			<wsdl:input name="removeAllAddresses" message="tns:removeAllAddresses">
    </wsdl:input>
			<wsdl:output name="removeAllAddressesResponse" message="tns:removeAllAddressesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupervisors">
			<wsdl:input name="getSupervisors" message="tns:getSupervisors">
    </wsdl:input>
			<wsdl:output name="getSupervisorsResponse" message="tns:getSupervisorsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressList">
			<wsdl:input name="getEmailAddressList" message="tns:getEmailAddressList">
    </wsdl:input>
			<wsdl:output name="getEmailAddressListResponse" message="tns:getEmailAddressListResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAddress">
			<wsdl:input name="updateAddress" message="tns:updateAddress">
    </wsdl:input>
			<wsdl:output name="updateAddressResponse" message="tns:updateAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultAddress">
			<wsdl:input name="getDefaultAddress" message="tns:getDefaultAddress">
    </wsdl:input>
			<wsdl:output name="getDefaultAddressResponse" message="tns:getDefaultAddressResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUserByOrganization">
			<wsdl:input name="findUserByOrganization" message="tns:findUserByOrganization">
    </wsdl:input>
			<wsdl:output name="findUserByOrganizationResponse" message="tns:findUserByOrganizationResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllNotes">
			<wsdl:input name="getAllNotes" message="tns:getAllNotes">
    </wsdl:input>
			<wsdl:output name="getAllNotesResponse" message="tns:getAllNotesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<wsdl:input name="getAttribute" message="tns:getAttribute">
    </wsdl:input>
			<wsdl:output name="getAttributeResponse" message="tns:getAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressByName">
			<wsdl:input name="getAddressByName" message="tns:getAddressByName">
    </wsdl:input>
			<wsdl:output name="getAddressByNameResponse" message="tns:getAddressByNameResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllPhones">
			<wsdl:input name="removeAllPhones" message="tns:removeAllPhones">
    </wsdl:input>
			<wsdl:output name="removeAllPhonesResponse" message="tns:removeAllPhonesResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="NewPortType"/>
	<wsdl:binding name="UserDataServiceBinding" type="tns:UserDataService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getUser">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUser">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeNote">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeNote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeNoteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressByName">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getEmailAddressByName">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEmailAddressByNameResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeUser">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeUser">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserWithDependent">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addUserWithDependent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addUserWithDependentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePhone">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updatePhone">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updatePhoneResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressById">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getEmailAddressById">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEmailAddressByIdResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneMap">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getPhoneMap">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPhoneMapResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSupervisor">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addSupervisor">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addSupervisorResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUser">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addUser">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateNote">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateNote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateNoteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateSupervisor">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateSupervisor">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateSupervisorResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressById">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAddressById">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAddressByIdResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUserWithDependent">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateUserWithDependent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateUserWithDependentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultPhone">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getDefaultPhone">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDefaultPhoneResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressMap">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAddressMap">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAddressMapResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeEmailAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeEmailAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeEmailAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllNotes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllNotes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllNotesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUsersByStatus">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="findUsersByStatus">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findUsersByStatusResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserAsMap">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUserAsMap">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserAsMapResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllEmailAddresses">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllEmailAddresses">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllEmailAddressesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPrimarySupervisor">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getPrimarySupervisor">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPrimarySupervisorResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateUser">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNote">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getNote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getNoteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePhone">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removePhone">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removePhoneResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupervisor">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getSupervisor">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSupervisorResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getPhoneList">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPhoneListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserWithDependent">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUserWithDependent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserWithDependentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateEmailAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateEmailAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateEmailAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPhone">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addPhone">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addPhoneResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAddressList">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAddressListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!--wsdl:operation name="search">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="search">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="searchResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation-->
		<wsdl:operation name="addNote">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addNote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addNoteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressMap">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getEmailAddressMap">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEmailAddressMapResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneById">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getPhoneById">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPhoneByIdResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPhoneByName">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getPhoneByName">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPhoneByNameResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultEmailAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getDefaultEmailAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDefaultEmailAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmployees">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getEmployees">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEmployeesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addEmailAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addEmailAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addEmailAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUsersByLastUpdateRange">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="findUsersByLastUpdateRange">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findUsersByLastUpdateRangeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAddresses">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllAddresses">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllAddressesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeSupervisor">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeSupervisor">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeSupervisorResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupervisors">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getSupervisors">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSupervisorsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmailAddressList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getEmailAddressList">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEmailAddressListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findUserByOrganization">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="findUserByOrganization">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findUserByOrganizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDefaultAddress">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getDefaultAddress">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDefaultAddressResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllNotes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllNotes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllNotesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAddressByName">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAddressByName">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAddressByNameResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllPhones">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllPhones">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllPhonesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserDataWebService">
		<wsdl:port name="UserDataServicePort" binding="tns:UserDataServiceBinding">
			<soap:address location="http://localhost:8080/UserDataService"/>
		</wsdl:port>
	</wsdl:service>
	<!--wsdl:message name="searchResponse">
		<wsdl:part name="parameters" element="types:searchResponse">
    </wsdl:part>
	</wsdl:message-->
	<!--wsdl:message name="search">
		<wsdl:part name="parameters" element="types:search">
    </wsdl:part>
	</wsdl:message-->
</wsdl:definitions>
