idm-connector-core/src/main/resources/pstc_spmlv2_async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_async" targetNamespace="urn:oasis:names:tc:SPML:2:0:async" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:async" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:spmlasync="urn:oasis:names:tc:SPML:2:0:async" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>
    		
	<complexType name="CancelRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<attribute name="asyncRequestID" type="xsd:string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="CancelResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<attribute name="asyncRequestID" type="xsd:string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="StatusRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<attribute default="false" name="returnResults" type="xsd:boolean" use="optional"/>		
				<attribute name="asyncRequestID" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="StatusResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<attribute name="asyncRequestID" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>		
	</complexType>

	<element name="cancelRequest" type="spmlasync:CancelRequestType"/>
	<element name="cancelResponse" type="spmlasync:CancelResponseType"/>
	<element name="statusRequest" type="spmlasync:StatusRequestType"/>
	<element name="statusResponse" type="spmlasync:StatusResponseType"/>

</schema>
  </wsdl:types>
</wsdl:definitions>
