idm-connector-core/src/main/resources/pstc_spmlv2_suspend.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_suspend" targetNamespace="urn:oasis:names:tc:SPML:2:0:suspend" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:suspend" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:spmlsuspend="urn:oasis:names:tc:SPML:2:0:suspend">
    
    <import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>
    
    <complexType name="SuspendRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/>  
                </sequence>
		<attribute name="effectiveDate" type="dateTime" use="optional"/>
            </extension>
        </complexContent>                 
    </complexType>
    
       
    <complexType name="ResumeRequestType">
         <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/> 
                </sequence>               
		<attribute name="effectiveDate" type="dateTime" use="optional"/>
            </extension>
        </complexContent>                 
    </complexType>
    
    
    <complexType name="ActiveRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/> 
                </sequence>                
            </extension>
        </complexContent>                 
    </complexType>
    
    <complexType name="ActiveResponseType">
        <complexContent>
            <extension base="spml:ResponseType">        
		<attribute name="active" type="boolean" use="optional"/>
            </extension>
        </complexContent>                 
    </complexType> 
    
    	<complexType name="IsActiveType">
    		<complexContent>
    			<extension base="spml:QueryClauseType">
    			</extension>
    		</complexContent>
    	</complexType>

    
    	<element name="isActive" type="spmlsuspend:IsActiveType"/>  
	<element name="suspendRequest" type="spmlsuspend:SuspendRequestType"/>  
	<element name="suspendResponse" type="spml:ResponseType"/>
	<element name="resumeRequest" type="spmlsuspend:ResumeRequestType"/>  
	<element name="resumeResponse" type="spml:ResponseType"/>
	<element name="activeRequest" type="spmlsuspend:ActiveRequestType"/>  
	<element name="activeResponse" type="spmlsuspend:ActiveResponseType"/>    

</schema>
  </wsdl:types>
</wsdl:definitions>
