idm-connector-core/src/main/resources/pstc_spmlv2_updates.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_updates" targetNamespace="urn:oasis:names:tc:SPML:2:0:updates" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:updates" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:spmlsearch="urn:oasis:names:tc:SPML:2:0:search" xmlns:spmlupdates="urn:oasis:names:tc:SPML:2:0:updates" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    	<import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>
    
    	<import namespace="urn:oasis:names:tc:SPML:2:0:search" schemaLocation="pstc_spmlv2_search.xsd"/>

	<complexType name="UpdatesRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element minOccurs="0" ref="spmlsearch:query"/>
					<element maxOccurs="unbounded" minOccurs="0" name="updatedByCapability" type="xsd:string"/>
				</sequence>
				<attribute name="updatedSince" type="xsd:dateTime" use="optional"/>
				<attribute name="token" type="xsd:string" use="optional"/>
				<attribute name="maxSelect" type="xsd:int" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="UpdateKindType">
		<restriction base="string">
			<enumeration value="add"/>
			<enumeration value="modify"/>
			<enumeration value="delete"/>
			<enumeration value="capability"/>
		</restriction>
	</simpleType>

	<complexType name="UpdateType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element name="psoID" type="spml:PSOIdentifierType"/>
				</sequence>
				<attribute name="timestamp" type="xsd:dateTime" use="required"/>
				<attribute name="updateKind" type="spmlupdates:UpdateKindType" use="required"/>
				<attribute name="wasUpdatedByCapability" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>				
	</complexType>
	
	<complexType name="ResultsIteratorType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<attribute name="ID" type="xsd:ID"/>
			</extension>
		</complexContent>				
	</complexType>
	
	<complexType name="UpdatesResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="update" type="spmlupdates:UpdateType"/>
					<element minOccurs="0" name="iterator" type="spmlupdates:ResultsIteratorType"/>
				</sequence>
				<attribute name="token" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>		
	</complexType>

	<complexType name="IterateRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element name="iterator" type="spmlupdates:ResultsIteratorType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="CloseIteratorRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element name="iterator" type="spmlupdates:ResultsIteratorType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="updatesRequest" type="spmlupdates:UpdatesRequestType"/>
	<element name="updatesResponse" type="spmlupdates:UpdatesResponseType"/>
	<element name="iterateRequest" type="spmlupdates:IterateRequestType"/>
	<element name="iterateResponse" type="spmlupdates:UpdatesResponseType"/>
	<element name="closeIteratorRequest" type="spmlupdates:CloseIteratorRequestType"/>
	<element name="closeIteratorResponse" type="spml:ResponseType"/>

</schema>
  </wsdl:types>
</wsdl:definitions>
