idm-connector-core/src/main/resources/pstc_spmlv2_password.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_password" targetNamespace="urn:oasis:names:tc:SPML:2:0:password" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:password" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pass="urn:oasis:names:tc:SPML:2:0:password" xmlns:spml="urn:oasis:names:tc:SPML:2:0">
    
    <import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>
    
    <complexType name="SetPasswordRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/>  
                    <element name="password" type="string"/>   
                    <element minOccurs="0" name="currentPassword" type="string"/>   
                </sequence>
            </extension>
        </complexContent>                 
    </complexType>
    
   <complexType name="ExpirePasswordRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/> 
                </sequence>
                <attribute default="1" name="remainingLogins" type="int" use="optional"/> 
            </extension>
        </complexContent>                 
    </complexType>
    
    <complexType name="ResetPasswordRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/>  
                </sequence>                
            </extension>
        </complexContent>                 
    </complexType>
    
    <complexType name="ResetPasswordResponseType">
        <complexContent>
            <extension base="spml:ResponseType">        
                <sequence>
                    <element minOccurs="0" name="password" type="string"/>
                </sequence>
            </extension>
        </complexContent>                 
    </complexType>
    
    <complexType name="ValidatePasswordRequestType">
        <complexContent>
            <extension base="spml:RequestType">        
                <sequence>
                    <element name="psoID" type="spml:PSOIdentifierType"/>  
                    <element name="password" type="string"/>  
                </sequence>                
            </extension>
        </complexContent>                 
    </complexType>
    
    <complexType name="ValidatePasswordResponseType">
        <complexContent>
            <extension base="spml:ResponseType">        
		<attribute name="valid" type="boolean" use="optional"/>
            </extension>
        </complexContent>                 
    </complexType>    
 
 
	<element name="setPasswordRequest" type="pass:SetPasswordRequestType"/> 
	<element name="setPasswordResponse" type="spml:ResponseType"/>
	<element name="expirePasswordRequest" type="pass:ExpirePasswordRequestType"/>  
	<element name="expirePasswordResponse" type="spml:ResponseType"/>
	<element name="resetPasswordRequest" type="pass:ResetPasswordRequestType"/>  
	<element name="resetPasswordResponse" type="pass:ResetPasswordResponseType"/>    
	<element name="validatePasswordRequest" type="pass:ValidatePasswordRequestType"/>  
	<element name="validatePasswordResponse" type="pass:ValidatePasswordResponseType"/>    

</schema>
  </wsdl:types>
</wsdl:definitions>
