idm-connector-core/src/main/resources/pstc_spmlv2_reference.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_reference" targetNamespace="urn:oasis:names:tc:SPML:2:0:reference" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:reference" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:spmlref="urn:oasis:names:tc:SPML:2:0:reference">
    
    <import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>
    
	<complexType name="ReferenceType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element minOccurs="0" name="toPsoID" type="spml:PSOIdentifierType"/>
					<element minOccurs="0" name="referenceData" type="spml:ExtensibleType"/>
				</sequence>
				<attribute name="typeOfReference" type="string" use="required"/>
			</extension>
		</complexContent>				
	</complexType>
    
	<complexType name="ReferenceDefinitionType">
		<complexContent>
			<extension base="spml:ExtensibleType">

				<sequence>
					<element name="schemaEntity" type="spml:SchemaEntityRefType"/>
					<element maxOccurs="unbounded" minOccurs="0" name="canReferTo" type="spml:SchemaEntityRefType"/>
					<element maxOccurs="unbounded" minOccurs="0" name="referenceDataType" type="spml:SchemaEntityRefType"/>
				</sequence>
				<attribute name="typeOfReference" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="HasReferenceType">
		<complexContent>
			<extension base="spml:QueryClauseType">
				<sequence>
					<element minOccurs="0" name="toPsoID" type="spml:PSOIdentifierType"/>
					<element minOccurs="0" name="referenceData" type="spml:ExtensibleType"/>
				</sequence>
				<attribute name="typeOfReference" type="string" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="hasReference" type="spmlref:HasReferenceType"/>    
	<element name="reference" type="spmlref:ReferenceType"/>    
	<element name="referenceDefinition" type="spmlref:ReferenceDefinitionType"/>

</schema>
  </wsdl:types>
</wsdl:definitions>
