idm-connector-core/src/main/resources/pstc_spmlv2_core.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_core" targetNamespace="urn:oasis:names:tc:SPML:2:0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<complexType name="ExtensibleType">
		<sequence>
			<any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</sequence>
		<anyAttribute namespace="##other" processContents="lax"/>
 	</complexType>


	<simpleType name="ExecutionModeType">
		<restriction base="string">
			<enumeration value="synchronous"/>
			<enumeration value="asynchronous"/>
		</restriction>
	</simpleType>	


	<complexType name="CapabilityDataType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<annotation>
				    <documentation>Contains capability specific elements.</documentation>
				</annotation>  
				<attribute name="mustUnderstand" type="boolean" use="optional"/>
				<attribute name="capabilityURI" type="anyURI"/> 
			</extension>
		</complexContent>				
	</complexType>
		
	<complexType name="RequestType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<attribute name="requestID" type="xsd:ID" use="optional"/>
				<attribute name="executionMode" type="spml:ExecutionModeType" use="optional"/>
			</extension>
		</complexContent>				
	</complexType>
		
	<simpleType name="StatusCodeType">
		<restriction base="string">
			<enumeration value="success"/>
			<enumeration value="failure"/>
			<enumeration value="pending"/>
		</restriction>
	</simpleType>
	
	<simpleType name="ErrorCode">
		<restriction base="string">
			<enumeration value="malformedRequest"/>
			<enumeration value="unsupportedOperation"/>
			<enumeration value="unsupportedIdentifierType"/>
			<enumeration value="noSuchIdentifier"/>
			<enumeration value="customError"/>
			<enumeration value="unsupportedExecutionMode"/>
			<enumeration value="invalidContainment"/>
			<enumeration value="noSuchRequest"/>
			<enumeration value="unsupportedSelectionType"/>
			<enumeration value="resultSetToLarge"/>
			<enumeration value="unsupportedProfile"/>
			<enumeration value="invalidIdentifier"/>
			<enumeration value="alreadyExists"/>
			<enumeration value="containerNotEmpty"/>
		</restriction>
	</simpleType>
	
	<simpleType name="ReturnDataType">
		<restriction base="string">
			<enumeration value="identifier"/>
			<enumeration value="data"/>
			<enumeration value="everything"/>
		</restriction>
	</simpleType>
	
	<complexType name="ResponseType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
			                <element maxOccurs="unbounded" minOccurs="0" name="errorMessage" type="xsd:string"/>
				</sequence>
				<attribute name="status" type="spml:StatusCodeType" use="required"/>
				<attribute name="requestID" type="xsd:ID" use="optional"/>
				<attribute name="error" type="spml:ErrorCode" use="optional"/>
			</extension>
		</complexContent>		
	</complexType>
	
	<complexType name="IdentifierType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<attribute name="ID" type="string" use="optional"/>
			</extension>
		</complexContent>				
	</complexType>
	
	<complexType name="PSOIdentifierType">
		<complexContent>
			<extension base="spml:IdentifierType">	
				<sequence>
					<element minOccurs="0" name="containerID" type="spml:PSOIdentifierType"/>
				</sequence>
				<attribute name="targetID" type="string" use="optional"/>
			</extension>
		</complexContent>				
	</complexType>	
	
	
	<complexType name="PSOType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element name="psoID" type="spml:PSOIdentifierType"/>
					<element minOccurs="0" name="data" type="spml:ExtensibleType"/>
					<element maxOccurs="unbounded" minOccurs="0" name="capabilityData" type="spml:CapabilityDataType"/>
				</sequence>
			</extension>
		</complexContent>				
	</complexType>	
	
	<complexType name="AddRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element minOccurs="0" name="psoID" type="spml:PSOIdentifierType"/>
					<element minOccurs="0" name="containerID" type="spml:PSOIdentifierType"/>
					<element name="data" type="spml:ExtensibleType"/>
					<element maxOccurs="unbounded" minOccurs="0" name="capabilityData" type="spml:CapabilityDataType"/>
				</sequence>
				<attribute name="targetID" type="string" use="optional"/>
				<attribute default="everything" name="returnData" type="spml:ReturnDataType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="AddResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<sequence>
					<element minOccurs="0" name="pso" type="spml:PSOType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="ModificationModeType">
		<restriction base="string">
			<enumeration value="add"/>
			<enumeration value="replace"/>
			<enumeration value="delete"/>
		</restriction>
	</simpleType>
	
	<complexType name="NamespacePrefixMappingType">
		<complexContent>
			<extension base="spml:ExtensibleType">
				<attribute name="prefix" type="string" use="required"/>
				<attribute name="namespace" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="QueryClauseType">
		<complexContent>
			<extension base="spml:ExtensibleType">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SelectionType">
		<complexContent>
			<extension base="spml:QueryClauseType">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="namespacePrefixMap" type="spml:NamespacePrefixMappingType"/>
				</sequence>
				<attribute name="path" type="string" use="required"/>
				<attribute name="namespaceURI" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="ModificationType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element minOccurs="0" name="component" type="spml:SelectionType"/>
					<element minOccurs="0" name="data" type="spml:ExtensibleType"/>
					<element maxOccurs="unbounded" minOccurs="0" name="capabilityData" type="spml:CapabilityDataType"/>
				</sequence>
				<attribute name="modificationMode" type="spml:ModificationModeType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="ModifyRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element name="psoID" type="spml:PSOIdentifierType"/>
					<element maxOccurs="unbounded" name="modification" type="spml:ModificationType"/>
				</sequence>
				<attribute default="everything" name="returnData" type="spml:ReturnDataType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="ModifyResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<sequence>
					<element minOccurs="0" name="pso" type="spml:PSOType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="DeleteRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element name="psoID" type="spml:PSOIdentifierType"/>
				</sequence>
				<attribute default="false" name="recursive" type="xsd:boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="LookupRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<sequence>
					<element name="psoID" type="spml:PSOIdentifierType"/>
				</sequence>
				<attribute default="everything" name="returnData" type="spml:ReturnDataType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="LookupResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<sequence>
					<element minOccurs="0" name="pso" type="spml:PSOType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SchemaType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<annotation>
					    <documentation>Profile specific schema elements should be included here</documentation>
					</annotation>  
					<element maxOccurs="unbounded" minOccurs="0" name="supportedSchemaEntity" type="spml:SchemaEntityRefType"/>
				</sequence>
				<attribute name="ref" type="anyURI" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="SchemaEntityRefType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<attribute name="targetID" type="string" use="optional"/>
				<attribute name="entityName" type="string" use="optional"/> 
				<attribute name="isContainer" type="xsd:boolean" use="optional"/> 
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="CapabilityType">
		<complexContent>
			<extension base="spml:ExtensibleType">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="appliesTo" type="spml:SchemaEntityRefType"/>
				</sequence>
				<attribute name="namespaceURI" type="anyURI"/> 
				<attribute name="location" type="anyURI" use="optional"/> 
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="CapabilitiesListType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="capability" type="spml:CapabilityType"/>
				</sequence>
			</extension>
		</complexContent>				
	</complexType>
	
	<complexType name="TargetType">
		<complexContent>
			<extension base="spml:ExtensibleType">	
				<sequence>
					<element maxOccurs="unbounded" name="schema" type="spml:SchemaType"/>
					<element minOccurs="0" name="capabilities" type="spml:CapabilitiesListType"/>
				</sequence>
				<attribute name="targetID" type="string" use="optional"/>
				<attribute name="profile" type="anyURI" use="optional"/>
			</extension>
		</complexContent>				
	</complexType>
	
	<complexType name="ListTargetsRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<attribute name="profile" type="anyURI" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="ListTargetsResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="target" type="spml:TargetType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="select" type="spml:SelectionType"/>
	<element name="addRequest" type="spml:AddRequestType"/>
	<element name="addResponse" type="spml:AddResponseType"/>
	<element name="modifyRequest" type="spml:ModifyRequestType"/>
	<element name="modifyResponse" type="spml:ModifyResponseType"/>
	<element name="deleteRequest" type="spml:DeleteRequestType"/>
	<element name="deleteResponse" type="spml:ResponseType"/>
	<element name="lookupRequest" type="spml:LookupRequestType"/>
	<element name="lookupResponse" type="spml:LookupResponseType"/>
	<element name="listTargetsRequest" type="spml:ListTargetsRequestType"/>
	<element name="listTargetsResponse" type="spml:ListTargetsResponseType"/>

</schema>
  </wsdl:types>
</wsdl:definitions>
