idm-connector-core/src/main/resources/pstc_spmlv2_batch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pstc_spmlv2_batch" targetNamespace="urn:oasis:names:tc:SPML:2:0:batch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:batch" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:spmlbatch="urn:oasis:names:tc:SPML:2:0:batch" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  	<import namespace="urn:oasis:names:tc:SPML:2:0" schemaLocation="pstc_spmlv2_core.xsd"/>

	<simpleType name="ProcessingType">
		<restriction base="string">
			<enumeration value="sequential"/>
			<enumeration value="parallel"/>
		</restriction>
	</simpleType>
	
	<simpleType name="OnErrorType">
		<restriction base="string">
			<enumeration value="resume"/>
			<enumeration value="exit"/>
		</restriction>
	</simpleType>
	
	
	<complexType name="BatchRequestType">
		<complexContent>
			<extension base="spml:RequestType">
				<annotation>
				    <documentation>Elements that extend spml:RequestType</documentation>
				</annotation>  
				<attribute default="sequential" name="processing" type="spmlbatch:ProcessingType" use="optional"/>
				<attribute default="exit" name="onError" type="spmlbatch:OnErrorType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BatchResponseType">
		<complexContent>
			<extension base="spml:ResponseType">
				<annotation>
				    <documentation>Elements that extend spml:ResponseType</documentation>
				</annotation>  
			</extension>
		</complexContent>
	</complexType>
	
	<element name="batchRequest" type="spmlbatch:BatchRequestType"/>
	<element name="batchResponse" type="spmlbatch:BatchResponseType"/>
	
</schema>
  </wsdl:types>
</wsdl:definitions>
