idm-ws/src/main/webapp/WEB-INF/wsdl/GroupDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/grp/service" xmlns:types="urn:idm.openiam.org/srvc/grp/types" xmlns:grp="urn:idm.openiam.org/srvc/grp/dto" xmlns:user="urn:idm.openiam.org/srvc/user/dto" xmlns:meta="urn:idm.openiam.org/srvc/meta/dto" xmlns:role="urn:idm.openiam.org/srvc/role/dto" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:idm.openiam.org/srvc/continfo/dto" name="GroupDataWebService" targetNamespace="urn:idm.openiam.org/srvc/grp/service">
	<wsdl:types>
		<schema targetNamespace="urn:idm.openiam.org/srvc/grp/types" xmlns:tns="urn:idm.openiam.org/srvc/grp/types" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="unqualified">
			<import namespace="urn:idm.openiam.org/srvc/grp/dto" schemaLocation="group.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/user/dto" schemaLocation="user.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/role/dto" schemaLocation="role.xsd"/>
			<import namespace="urn:idm.openiam.org/srvc/meta/dto" schemaLocation="metadata.xsd"/>
			<element name="addAttribute" type="tns:addAttribute"/>
			<element name="addAttributeResponse" type="tns:addAttributeResponse"/>
			<element name="addGroup" type="tns:addGroup"/>
			<element name="addGroupResponse" type="tns:addGroupResponse"/>
			<element name="addUserToGroup" type="tns:addUserToGroup"/>
			<element name="addUserToGroupResponse" type="tns:addUserToGroupResponse"/>
			<element name="getAllAttributes" type="tns:getAllAttributes"/>
			<element name="getAllAttributesResponse" type="tns:getAllAttributesResponse"/>
			<element name="getAllGroups" type="tns:getAllGroups"/>
			<element name="getAllGroupsResponse" type="tns:getAllGroupsResponse"/>
			<element name="getAllGroupsWithDependents" type="tns:getAllGroupsWithDependents"/>
			<element name="getAllGroupsWithDependentsResponse" type="tns:getAllGroupsWithDependentsResponse"/>
			<element name="getAttribute" type="tns:getAttribute"/>
			<element name="getAttributeResponse" type="tns:getAttributeResponse"/>
			<element name="getChildGroups" type="tns:getChildGroups"/>
			<element name="getChildGroupsResponse" type="tns:getChildGroupsResponse"/>
			<element name="getGroup" type="tns:getGroup"/>
			<element name="getGroupResponse" type="tns:getGroupResponse"/>
			<element name="getGroupWithDependants" type="tns:getGroupWithDependants"/>
			<element name="getGroupWithDependantsResponse" type="tns:getGroupWithDependantsResponse"/>
			<element name="getParentGroup" type="tns:getParentGroup"/>
			<element name="getParentGroupResponse" type="tns:getParentGroupResponse"/>
			<element name="getUserInGroups" type="tns:getUserInGroups"/>
			<element name="getUserInGroupsResponse" type="tns:getUserInGroupsResponse"/>
			<element name="getUsersByGroup" type="tns:getUsersByGroup"/>
			<element name="getUsersByGroupResponse" type="tns:getUsersByGroupResponse"/>
			<element name="isUserInGroup" type="tns:isUserInGroup"/>
			<element name="isUserInGroupResponse" type="tns:isUserInGroupResponse"/>
			<element name="removeAllAttributes" type="tns:removeAllAttributes"/>
			<element name="removeAllAttributesResponse" type="tns:removeAllAttributesResponse"/>
			<element name="removeAttribute" type="tns:removeAttribute"/>
			<element name="removeAttributeResponse" type="tns:removeAttributeResponse"/>
			<element name="removeChildGroups" type="tns:removeChildGroups"/>
			<element name="removeChildGroupsResponse" type="tns:removeChildGroupsResponse"/>
			<element name="removeGroup" type="tns:removeGroup"/>
			<element name="removeGroupResponse" type="tns:removeGroupResponse"/>
			<element name="removeUserFromGroup" type="tns:removeUserFromGroup"/>
			<element name="removeUserFromGroupResponse" type="tns:removeUserFromGroupResponse"/>
			<element name="updateAttribute" type="tns:updateAttribute"/>
			<element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>
			<element name="updateGroup" type="tns:updateGroup"/>
			<element name="updateGroupResponse" type="tns:updateGroupResponse"/>
			<complexType name="removeUserFromGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeUserFromGroupResponse">
				<sequence/>
			</complexType>
			<complexType name="removeAllAttributes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeAllAttributesResponse">
				<sequence/>
			</complexType>
			<complexType name="addAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="grp:groupAttribute"/>
				</sequence>
			</complexType>
			<complexType name="addAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="getAllAttributes">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getAllAttributesResponse">
				<sequence>
					<element minOccurs="0" name="return" type="grp:groupAttributeMap"/>
				</sequence>
			</complexType>
			<complexType name="updateAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="grp:groupAttribute"/>
				</sequence>
			</complexType>
			<complexType name="updateAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="getParentGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element name="arg1" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="getParentGroupResponse">
				<sequence>
					<element minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="getGroupWithDependants">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getGroupWithDependantsResponse">
				<sequence>
					<element minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="removeGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeGroupResponse">
				<sequence/>
			</complexType>
			<complexType name="getUserInGroups">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getUserInGroupsResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="getChildGroups">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element name="arg1" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="getChildGroupsResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="isUserInGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<complexType name="isUserInGroupResponse">
				<sequence>
					<element name="return" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="getUsersByGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getUsersByGroupResponse">
				<sequence>
					<element minOccurs="0" name="return" type="user:userSet"/>
				</sequence>
			</complexType>
			<complexType name="removeAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="grp:groupAttribute"/>
				</sequence>
			</complexType>
			<complexType name="removeAttributeResponse">
				<sequence/>
			</complexType>
			<complexType name="getAllGroups">
				<sequence/>
			</complexType>
			<complexType name="getAllGroupsResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="getAttribute">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getAttributeResponse">
				<sequence>
					<element minOccurs="0" name="return" type="grp:groupAttribute"/>
				</sequence>
			</complexType>
			<complexType name="addGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="addGroupResponse">
				<sequence/>
			</complexType>
			<complexType name="getGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="getGroupResponse">
				<sequence>
					<element minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="removeChildGroups">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
				</sequence>
			</complexType>
			<complexType name="removeChildGroupsResponse">
				<sequence>
					<element name="return" type="int"/>
				</sequence>
			</complexType>
			<complexType name="getAllGroupsWithDependents">
				<sequence>
					<element name="arg0" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="getAllGroupsWithDependentsResponse">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="return" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="updateGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="grp:group"/>
				</sequence>
			</complexType>
			<complexType name="updateGroupResponse">
				<sequence/>
			</complexType>
			<complexType name="addUserToGroup">
				<sequence>
					<element minOccurs="0" name="arg0" type="string"/>
					<element minOccurs="0" name="arg1" type="string"/>
				</sequence>
			</complexType>
			<complexType name="addUserToGroupResponse">
				<sequence/>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getAttribute">
		<wsdl:part name="parameters" element="types:getAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addGroup">
		<wsdl:part name="parameters" element="types:addGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGroupWithDependants">
		<wsdl:part name="parameters" element="types:getGroupWithDependants">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributesResponse">
		<wsdl:part name="parameters" element="types:removeAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getChildGroups">
		<wsdl:part name="parameters" element="types:getChildGroups">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttributeResponse">
		<wsdl:part name="parameters" element="types:removeAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUserFromGroupResponse">
		<wsdl:part name="parameters" element="types:removeUserFromGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getChildGroupsResponse">
		<wsdl:part name="parameters" element="types:getChildGroupsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGroup">
		<wsdl:part name="parameters" element="types:getGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserToGroup">
		<wsdl:part name="parameters" element="types:addUserToGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAllAttributes">
		<wsdl:part name="parameters" element="types:removeAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersByGroup">
		<wsdl:part name="parameters" element="types:getUsersByGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttributeResponse">
		<wsdl:part name="parameters" element="types:addAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateGroup">
		<wsdl:part name="parameters" element="types:updateGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributesResponse">
		<wsdl:part name="parameters" element="types:getAllAttributesResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeChildGroupsResponse">
		<wsdl:part name="parameters" element="types:removeChildGroupsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllGroupsResponse">
		<wsdl:part name="parameters" element="types:getAllGroupsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addUserToGroupResponse">
		<wsdl:part name="parameters" element="types:addUserToGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllAttributes">
		<wsdl:part name="parameters" element="types:getAllAttributes">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttributeResponse">
		<wsdl:part name="parameters" element="types:updateAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllGroupsWithDependents">
		<wsdl:part name="parameters" element="types:getAllGroupsWithDependents">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getParentGroupResponse">
		<wsdl:part name="parameters" element="types:getParentGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getParentGroup">
		<wsdl:part name="parameters" element="types:getParentGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeUserFromGroup">
		<wsdl:part name="parameters" element="types:removeUserFromGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroup">
		<wsdl:part name="parameters" element="types:removeGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserInGroupsResponse">
		<wsdl:part name="parameters" element="types:getUserInGroupsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserInGroups">
		<wsdl:part name="parameters" element="types:getUserInGroups">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="isUserInGroup">
		<wsdl:part name="parameters" element="types:isUserInGroup">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttributeResponse">
		<wsdl:part name="parameters" element="types:getAttributeResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersByGroupResponse">
		<wsdl:part name="parameters" element="types:getUsersByGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllGroupsWithDependentsResponse">
		<wsdl:part name="parameters" element="types:getAllGroupsWithDependentsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGroupWithDependantsResponse">
		<wsdl:part name="parameters" element="types:getGroupWithDependantsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="isUserInGroupResponse">
		<wsdl:part name="parameters" element="types:isUserInGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttribute">
		<wsdl:part name="parameters" element="types:removeAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeChildGroups">
		<wsdl:part name="parameters" element="types:removeChildGroups">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateGroupResponse">
		<wsdl:part name="parameters" element="types:updateGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttribute">
		<wsdl:part name="parameters" element="types:addAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="addGroupResponse">
		<wsdl:part name="parameters" element="types:addGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllGroups">
		<wsdl:part name="parameters" element="types:getAllGroups">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAttribute">
		<wsdl:part name="parameters" element="types:updateAttribute">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGroupResponse">
		<wsdl:part name="parameters" element="types:getGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupResponse">
		<wsdl:part name="parameters" element="types:removeGroupResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GroupDataService">
		<wsdl:operation name="removeUserFromGroup">
			<wsdl:input name="removeUserFromGroup" message="tns:removeUserFromGroup">
    </wsdl:input>
			<wsdl:output name="removeUserFromGroupResponse" message="tns:removeUserFromGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<wsdl:input name="removeAllAttributes" message="tns:removeAllAttributes">
    </wsdl:input>
			<wsdl:output name="removeAllAttributesResponse" message="tns:removeAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<wsdl:input name="addAttribute" message="tns:addAttribute">
    </wsdl:input>
			<wsdl:output name="addAttributeResponse" message="tns:addAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<wsdl:input name="getAllAttributes" message="tns:getAllAttributes">
    </wsdl:input>
			<wsdl:output name="getAllAttributesResponse" message="tns:getAllAttributesResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<wsdl:input name="updateAttribute" message="tns:updateAttribute">
    </wsdl:input>
			<wsdl:output name="updateAttributeResponse" message="tns:updateAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getParentGroup">
			<wsdl:input name="getParentGroup" message="tns:getParentGroup">
    </wsdl:input>
			<wsdl:output name="getParentGroupResponse" message="tns:getParentGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupWithDependants">
			<wsdl:input name="getGroupWithDependants" message="tns:getGroupWithDependants">
    </wsdl:input>
			<wsdl:output name="getGroupWithDependantsResponse" message="tns:getGroupWithDependantsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroup">
			<wsdl:input name="removeGroup" message="tns:removeGroup">
    </wsdl:input>
			<wsdl:output name="removeGroupResponse" message="tns:removeGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserInGroups">
			<wsdl:input name="getUserInGroups" message="tns:getUserInGroups">
    </wsdl:input>
			<wsdl:output name="getUserInGroupsResponse" message="tns:getUserInGroupsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChildGroups">
			<wsdl:input name="getChildGroups" message="tns:getChildGroups">
    </wsdl:input>
			<wsdl:output name="getChildGroupsResponse" message="tns:getChildGroupsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isUserInGroup">
			<wsdl:input name="isUserInGroup" message="tns:isUserInGroup">
    </wsdl:input>
			<wsdl:output name="isUserInGroupResponse" message="tns:isUserInGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersByGroup">
			<wsdl:input name="getUsersByGroup" message="tns:getUsersByGroup">
    </wsdl:input>
			<wsdl:output name="getUsersByGroupResponse" message="tns:getUsersByGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<wsdl:input name="removeAttribute" message="tns:removeAttribute">
    </wsdl:input>
			<wsdl:output name="removeAttributeResponse" message="tns:removeAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllGroups">
			<wsdl:input name="getAllGroups" message="tns:getAllGroups">
    </wsdl:input>
			<wsdl:output name="getAllGroupsResponse" message="tns:getAllGroupsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<wsdl:input name="getAttribute" message="tns:getAttribute">
    </wsdl:input>
			<wsdl:output name="getAttributeResponse" message="tns:getAttributeResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addGroup">
			<wsdl:input name="addGroup" message="tns:addGroup">
    </wsdl:input>
			<wsdl:output name="addGroupResponse" message="tns:addGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroup">
			<wsdl:input name="getGroup" message="tns:getGroup">
    </wsdl:input>
			<wsdl:output name="getGroupResponse" message="tns:getGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeChildGroups">
			<wsdl:input name="removeChildGroups" message="tns:removeChildGroups">
    </wsdl:input>
			<wsdl:output name="removeChildGroupsResponse" message="tns:removeChildGroupsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllGroupsWithDependents">
			<wsdl:input name="getAllGroupsWithDependents" message="tns:getAllGroupsWithDependents">
    </wsdl:input>
			<wsdl:output name="getAllGroupsWithDependentsResponse" message="tns:getAllGroupsWithDependentsResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateGroup">
			<wsdl:input name="updateGroup" message="tns:updateGroup">
    </wsdl:input>
			<wsdl:output name="updateGroupResponse" message="tns:updateGroupResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserToGroup">
			<wsdl:input name="addUserToGroup" message="tns:addUserToGroup">
    </wsdl:input>
			<wsdl:output name="addUserToGroupResponse" message="tns:addUserToGroupResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GroupDataServiceBinding" type="tns:GroupDataService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="removeUserFromGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeUserFromGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeUserFromGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllAttributes">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getParentGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getParentGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getParentGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupWithDependants">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getGroupWithDependants">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getGroupWithDependantsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserInGroups">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUserInGroups">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserInGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChildGroups">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getChildGroups">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getChildGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isUserInGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="isUserInGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isUserInGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersByGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getUsersByGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUsersByGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllGroups">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllGroups">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttribute">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAttribute">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAttributeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeChildGroups">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="removeChildGroups">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeChildGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllGroupsWithDependents">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getAllGroupsWithDependents">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllGroupsWithDependentsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="updateGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserToGroup">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="addUserToGroup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addUserToGroupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GroupDataWebService">
		<wsdl:port name="GroupDataServicePort" binding="tns:GroupDataServiceBinding">
			<soap:address location="http://localhost:8080/iam-ws/GroupDataService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
