openiam-idm-esb/wsdl/AuditService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IdmAuditLogDataService" targetNamespace="http://service.audit.srvc.idm.openiam.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.audit.srvc.idm.openiam.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.audit.srvc.idm.openiam.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.audit.srvc.idm.openiam.org/">
<xs:complexType name="IdmAuditLog">
<xs:sequence>
<xs:element minOccurs="0" name="logId" type="xs:string"/>
<xs:element minOccurs="0" name="objectTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="actionId" type="xs:string"/>
<xs:element minOccurs="0" name="actionStatus" type="xs:string"/>
<xs:element minOccurs="0" name="reason" type="xs:string"/>
<xs:element minOccurs="0" name="reasonDetail" type="xs:string"/>
<xs:element minOccurs="0" name="actionDatetime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="objectName" type="xs:string"/>
<xs:element minOccurs="0" name="resourceName" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="host" type="xs:string"/>
<xs:element minOccurs="0" name="clientId" type="xs:string"/>
<xs:element minOccurs="0" name="reqUrl" type="xs:string"/>
<xs:element minOccurs="0" name="requestId" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" type="xs:string"/>
<xs:element minOccurs="0" name="attributesChanges" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname1" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname2" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname3" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname4" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname5" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname6" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname7" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname8" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname9" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrname10" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue1" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue2" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue3" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue4" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue5" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue6" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue7" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue8" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue9" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrvalue10" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname1" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname2" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname3" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname4" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname5" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname6" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname7" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname8" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname9" type="xs:string"/>
<xs:element minOccurs="0" name="customParamname10" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue1" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue2" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue3" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue4" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue5" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue6" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue7" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue8" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue9" type="xs:string"/>
<xs:element minOccurs="0" name="customParamvalue10" type="xs:string"/>
<xs:element minOccurs="0" name="objectId" type="xs:string"/>
<xs:element minOccurs="0" name="linkedLogId" type="xs:string"/>
<xs:element name="linkSequence" type="xs:int"/>
<xs:element minOccurs="0" name="logHash" type="xs:string"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="targetSystemId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SearchAudit">
<xs:sequence>
<xs:element minOccurs="0" name="applicationName" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="loginId" type="xs:string"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="actionList" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="customAttr1" type="xs:string"/>
<xs:element minOccurs="0" name="customAttrValue1" type="xs:string"/>
<xs:element minOccurs="0" name="reason" type="xs:string"/>
<xs:element minOccurs="0" name="objectTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="actionId" type="xs:string"/>
<xs:element minOccurs="0" name="objectId" type="xs:string"/>
<xs:element minOccurs="0" name="requestId" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addLog" type="addLog"/>
<xs:complexType name="addLog">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="IdmAuditLog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addLogResponse" type="addLogResponse"/>
<xs:complexType name="addLogResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="IdmAuditLog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="search" type="search"/>
<xs:complexType name="search">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="SearchAudit"/>
</xs:sequence>
</xs:complexType>
<xs:element name="searchResponse" type="searchResponse"/>
<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="IdmAuditLog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getPasswordChangeLog" type="getPasswordChangeLog"/>
<xs:complexType name="getPasswordChangeLog">
<xs:sequence/>
</xs:complexType>
<xs:element name="getPasswordChangeLogResponse" type="getPasswordChangeLogResponse"/>
<xs:complexType name="getPasswordChangeLogResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="IdmAuditLog"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getCompleteLog" type="getCompleteLog"/>
<xs:complexType name="getCompleteLog">
<xs:sequence/>
</xs:complexType>
<xs:element name="getCompleteLogResponse" type="getCompleteLogResponse"/>
<xs:complexType name="getCompleteLogResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="IdmAuditLog"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part name="parameters" element="tns:search">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLogResponse">
    <wsdl:part name="parameters" element="tns:addLogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteLog">
    <wsdl:part name="parameters" element="tns:getCompleteLog">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPasswordChangeLog">
    <wsdl:part name="parameters" element="tns:getPasswordChangeLog">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPasswordChangeLogResponse">
    <wsdl:part name="parameters" element="tns:getPasswordChangeLogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLog">
    <wsdl:part name="parameters" element="tns:addLog">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteLogResponse">
    <wsdl:part name="parameters" element="tns:getCompleteLogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IdmAuditLogDataServicePortType">
    <wsdl:operation name="addLog">
      <wsdl:input name="addLog" message="tns:addLog">
    </wsdl:input>
      <wsdl:output name="addLogResponse" message="tns:addLogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input name="search" message="tns:search">
    </wsdl:input>
      <wsdl:output name="searchResponse" message="tns:searchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPasswordChangeLog">
      <wsdl:input name="getPasswordChangeLog" message="tns:getPasswordChangeLog">
    </wsdl:input>
      <wsdl:output name="getPasswordChangeLogResponse" message="tns:getPasswordChangeLogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompleteLog">
      <wsdl:input name="getCompleteLog" message="tns:getCompleteLog">
    </wsdl:input>
      <wsdl:output name="getCompleteLogResponse" message="tns:getCompleteLogResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdmAuditLogDataServiceSoapBinding" type="tns:IdmAuditLogDataServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addLog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addLog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addLogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompleteLog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompleteLog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompleteLogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPasswordChangeLog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPasswordChangeLog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPasswordChangeLogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdmAuditLogDataService">
    <wsdl:port name="IdmAuditLogDataServicePort" binding="tns:IdmAuditLogDataServiceSoapBinding">
      <soap:address location="http://localhost:9090/IdmAuditLogDataServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
