openiam-idm-esb/wsdl/BatchDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BatchDataServiceService" targetNamespace="urn:idm.openiam.org/srvc/batch/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/batch/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/batch/service" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/batch/service" version="1.0">
<xs:element name="addBatchTask" type="tns:addBatchTask"/>
<xs:element name="addBatchTaskResponse" type="tns:addBatchTaskResponse"/>
<xs:element name="getAllTasks" type="tns:getAllTasks"/>
<xs:element name="getAllTasksByFrequency" type="tns:getAllTasksByFrequency"/>
<xs:element name="getAllTasksByFrequencyResponse" type="tns:getAllTasksByFrequencyResponse"/>
<xs:element name="getAllTasksResponse" type="tns:getAllTasksResponse"/>
<xs:element name="getBatchTask" type="tns:getBatchTask"/>
<xs:element name="getBatchTaskResponse" type="tns:getBatchTaskResponse"/>
<xs:element name="getTaskByName" type="tns:getTaskByName"/>
<xs:element name="getTaskByNameResponse" type="tns:getTaskByNameResponse"/>
<xs:element name="removeBatchTask" type="tns:removeBatchTask"/>
<xs:element name="removeBatchTaskResponse" type="tns:removeBatchTaskResponse"/>
<xs:element name="upateBatchTask" type="tns:upateBatchTask"/>
<xs:element name="upateBatchTaskResponse" type="tns:upateBatchTaskResponse"/>
<xs:element name="updateTask" type="tns:updateTask"/>
<xs:element name="updateTaskResponse" type="tns:updateTaskResponse"/>
<xs:complexType name="getAllTasks">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllTasksResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BatchConfig">
<xs:sequence>
<xs:element minOccurs="0" name="taskId" type="xs:string"/>
<xs:element minOccurs="0" name="taskName" type="xs:string"/>
<xs:element minOccurs="0" name="enabled" type="xs:int"/>
<xs:element minOccurs="0" name="frequency" type="xs:int"/>
<xs:element minOccurs="0" name="frequencyUnitOfMeasure" type="xs:string"/>
<xs:element minOccurs="0" name="lastExecTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="taskUrl" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="param1" type="xs:string"/>
<xs:element minOccurs="0" name="param2" type="xs:string"/>
<xs:element minOccurs="0" name="param3" type="xs:string"/>
<xs:element minOccurs="0" name="param4" type="xs:string"/>
<xs:element minOccurs="0" name="executionOrder" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addBatchTask">
<xs:sequence>
<xs:element minOccurs="0" name="task" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addBatchTaskResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllTasksByFrequency">
<xs:sequence>
<xs:element minOccurs="0" name="frequency" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllTasksByFrequencyResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateTask">
<xs:sequence>
<xs:element minOccurs="0" name="task" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateTaskResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getTaskByName">
<xs:sequence>
<xs:element minOccurs="0" name="taskName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTaskByNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="upateBatchTask">
<xs:sequence>
<xs:element minOccurs="0" name="task" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="upateBatchTaskResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeBatchTask">
<xs:sequence>
<xs:element minOccurs="0" name="taskID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeBatchTaskResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getBatchTask">
<xs:sequence>
<xs:element minOccurs="0" name="taskId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getBatchTaskResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BatchConfig"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeBatchTaskResponse">
    <wsdl:part name="parameters" element="tns:removeBatchTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBatchTaskResponse">
    <wsdl:part name="parameters" element="tns:addBatchTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upateBatchTaskResponse">
    <wsdl:part name="parameters" element="tns:upateBatchTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTasksResponse">
    <wsdl:part name="parameters" element="tns:getAllTasksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTaskResponse">
    <wsdl:part name="parameters" element="tns:updateTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBatchTask">
    <wsdl:part name="parameters" element="tns:getBatchTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTasksByFrequencyResponse">
    <wsdl:part name="parameters" element="tns:getAllTasksByFrequencyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaskByNameResponse">
    <wsdl:part name="parameters" element="tns:getTaskByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaskByName">
    <wsdl:part name="parameters" element="tns:getTaskByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upateBatchTask">
    <wsdl:part name="parameters" element="tns:upateBatchTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeBatchTask">
    <wsdl:part name="parameters" element="tns:removeBatchTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTask">
    <wsdl:part name="parameters" element="tns:updateTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTasks">
    <wsdl:part name="parameters" element="tns:getAllTasks">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBatchTaskResponse">
    <wsdl:part name="parameters" element="tns:getBatchTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTasksByFrequency">
    <wsdl:part name="parameters" element="tns:getAllTasksByFrequency">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBatchTask">
    <wsdl:part name="parameters" element="tns:addBatchTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BatchDataWebService">
    <wsdl:operation name="getAllTasks">
      <wsdl:input name="getAllTasks" message="tns:getAllTasks">
    </wsdl:input>
      <wsdl:output name="getAllTasksResponse" message="tns:getAllTasksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBatchTask">
      <wsdl:input name="addBatchTask" message="tns:addBatchTask">
    </wsdl:input>
      <wsdl:output name="addBatchTaskResponse" message="tns:addBatchTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksByFrequency">
      <wsdl:input name="getAllTasksByFrequency" message="tns:getAllTasksByFrequency">
    </wsdl:input>
      <wsdl:output name="getAllTasksByFrequencyResponse" message="tns:getAllTasksByFrequencyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <wsdl:input name="updateTask" message="tns:updateTask">
    </wsdl:input>
      <wsdl:output name="updateTaskResponse" message="tns:updateTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskByName">
      <wsdl:input name="getTaskByName" message="tns:getTaskByName">
    </wsdl:input>
      <wsdl:output name="getTaskByNameResponse" message="tns:getTaskByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upateBatchTask">
      <wsdl:input name="upateBatchTask" message="tns:upateBatchTask">
    </wsdl:input>
      <wsdl:output name="upateBatchTaskResponse" message="tns:upateBatchTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeBatchTask">
      <wsdl:input name="removeBatchTask" message="tns:removeBatchTask">
    </wsdl:input>
      <wsdl:output name="removeBatchTaskResponse" message="tns:removeBatchTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBatchTask">
      <wsdl:input name="getBatchTask" message="tns:getBatchTask">
    </wsdl:input>
      <wsdl:output name="getBatchTaskResponse" message="tns:getBatchTaskResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BatchDataServiceServiceSoapBinding" type="tns:BatchDataWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addBatchTask">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addBatchTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addBatchTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllTasks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllTasksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksByFrequency">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllTasksByFrequency">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllTasksByFrequencyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTaskByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTaskByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upateBatchTask">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="upateBatchTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="upateBatchTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeBatchTask">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeBatchTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeBatchTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBatchTask">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBatchTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBatchTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BatchDataServiceService">
    <wsdl:port name="BatchDataWebServicePort" binding="tns:BatchDataServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/BatchDataWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
