openiam-idm-esb/wsdl/CategoryDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CategoryDataServiceService" targetNamespace="urn:idm.openiam.org/srvc/cat/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/cat/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/cat/service" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/cat/service" version="1.0">
<xs:element name="addCategory" type="tns:addCategory"/>
<xs:element name="addCategoryResponse" type="tns:addCategoryResponse"/>
<xs:element name="getAllCategories" type="tns:getAllCategories"/>
<xs:element name="getAllCategoriesResponse" type="tns:getAllCategoriesResponse"/>
<xs:element name="getCategory" type="tns:getCategory"/>
<xs:element name="getCategoryResponse" type="tns:getCategoryResponse"/>
<xs:element name="getChildCategories" type="tns:getChildCategories"/>
<xs:element name="getChildCategoriesResponse" type="tns:getChildCategoriesResponse"/>
<xs:element name="removeCategory" type="tns:removeCategory"/>
<xs:element name="removeCategoryResponse" type="tns:removeCategoryResponse"/>
<xs:element name="updateCategory" type="tns:updateCategory"/>
<xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse"/>
<xs:complexType name="getCategory">
<xs:sequence>
<xs:element minOccurs="0" name="categoryId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCategoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:category"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="category">
<xs:sequence>
<xs:element minOccurs="0" name="categoryId" type="xs:string"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="categoryName" type="xs:string"/>
<xs:element minOccurs="0" name="categoryDesc" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element name="showList" type="xs:int"/>
<xs:element name="displayOrder" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="childCategories" nillable="true" type="tns:category"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryLanguages" nillable="true" type="tns:categoryLanguage"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="categoryLanguage">
<xs:sequence>
<xs:element minOccurs="0" name="categoryName" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="tns:categoryLanguageId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="categoryLanguageId">
<xs:sequence>
<xs:element minOccurs="0" name="categoryId" type="xs:string"/>
<xs:element minOccurs="0" name="languageCd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChildCategories">
<xs:sequence>
<xs:element minOccurs="0" name="categoryId" type="xs:string"/>
<xs:element name="nested" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChildCategoriesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:category"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addCategory">
<xs:sequence>
<xs:element minOccurs="0" name="cat" type="tns:category"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addCategoryResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="updateCategory">
<xs:sequence>
<xs:element minOccurs="0" name="cat" type="tns:category"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCategoryResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllCategories">
<xs:sequence>
<xs:element name="nested" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllCategoriesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:category"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeCategory">
    <wsdl:part name="parameters" element="tns:removeCategory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCategories">
    <wsdl:part name="parameters" element="tns:getAllCategories">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCategoryResponse">
    <wsdl:part name="parameters" element="tns:addCategoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChildCategories">
    <wsdl:part name="parameters" element="tns:getChildCategories">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCategoryResponse">
    <wsdl:part name="parameters" element="tns:updateCategoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeCategoryResponse">
    <wsdl:part name="parameters" element="tns:removeCategoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChildCategoriesResponse">
    <wsdl:part name="parameters" element="tns:getChildCategoriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategoryResponse">
    <wsdl:part name="parameters" element="tns:getCategoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCategory">
    <wsdl:part name="parameters" element="tns:updateCategory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCategoriesResponse">
    <wsdl:part name="parameters" element="tns:getAllCategoriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCategory">
    <wsdl:part name="parameters" element="tns:addCategory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategory">
    <wsdl:part name="parameters" element="tns:getCategory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CategoryDataWebService">
    <wsdl:operation name="getCategory">
      <wsdl:input name="getCategory" message="tns:getCategory">
    </wsdl:input>
      <wsdl:output name="getCategoryResponse" message="tns:getCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildCategories">
      <wsdl:input name="getChildCategories" message="tns:getChildCategories">
    </wsdl:input>
      <wsdl:output name="getChildCategoriesResponse" message="tns:getChildCategoriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCategory">
      <wsdl:input name="addCategory" message="tns:addCategory">
    </wsdl:input>
      <wsdl:output name="addCategoryResponse" message="tns:addCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <wsdl:input name="updateCategory" message="tns:updateCategory">
    </wsdl:input>
      <wsdl:output name="updateCategoryResponse" message="tns:updateCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <wsdl:input name="getAllCategories" message="tns:getAllCategories">
    </wsdl:input>
      <wsdl:output name="getAllCategoriesResponse" message="tns:getAllCategoriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCategory">
      <wsdl:input name="removeCategory" message="tns:removeCategory">
    </wsdl:input>
      <wsdl:output name="removeCategoryResponse" message="tns:removeCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryDataServiceServiceSoapBinding" type="tns:CategoryDataWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildCategories">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getChildCategories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getChildCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCategories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryDataServiceService">
    <wsdl:port name="CategoryDataWebServicePort" binding="tns:CategoryDataServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/CategoryDataWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
