openiam-idm-esb/wsdl/ConnectorDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConnectorDataServiceService" targetNamespace="http://service.mngsys.srvc.idm.openiam.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.mngsys.srvc.idm.openiam.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.mngsys.srvc.idm.openiam.org/" elementFormDefault="unqualified" targetNamespace="http://service.mngsys.srvc.idm.openiam.org/" version="1.0">
<xs:element name="addConnector" type="tns:addConnector"/>
<xs:element name="addConnectorResponse" type="tns:addConnectorResponse"/>
<xs:element name="getAllConnectors" type="tns:getAllConnectors"/>
<xs:element name="getAllConnectorsResponse" type="tns:getAllConnectorsResponse"/>
<xs:element name="getConnector" type="tns:getConnector"/>
<xs:element name="getConnectorResponse" type="tns:getConnectorResponse"/>
<xs:element name="getConnectorsByType" type="tns:getConnectorsByType"/>
<xs:element name="getConnectorsByTypeResponse" type="tns:getConnectorsByTypeResponse"/>
<xs:element name="removeConnector" type="tns:removeConnector"/>
<xs:element name="removeConnectorResponse" type="tns:removeConnectorResponse"/>
<xs:element name="updateConnector" type="tns:updateConnector"/>
<xs:element name="updateConnectorResponse" type="tns:updateConnectorResponse"/>
<xs:complexType name="getConnector">
<xs:sequence>
<xs:element minOccurs="0" name="conId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getConnectorResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ProvisionConnector"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProvisionConnector">
<xs:sequence>
<xs:element minOccurs="0" name="connectorId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="stdComplianceLevel" type="xs:string"/>
<xs:element minOccurs="0" name="clientCommProtocol" type="xs:string"/>
<xs:element minOccurs="0" name="serviceUrl" type="xs:string"/>
<xs:element minOccurs="0" name="className" type="xs:string"/>
<xs:element minOccurs="0" name="serviceNameSpace" type="xs:string"/>
<xs:element minOccurs="0" name="servicePort" type="xs:string"/>
<xs:element minOccurs="0" name="wsdlUrl" type="xs:string"/>
<xs:element minOccurs="0" name="connectorInterface" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateConnector">
<xs:sequence>
<xs:element minOccurs="0" name="con" type="tns:ProvisionConnector"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateConnectorResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getConnectorsByType">
<xs:sequence>
<xs:element minOccurs="0" name="typeId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getConnectorsByTypeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ProvisionConnector"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllConnectors">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllConnectorsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ProvisionConnector"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addConnector">
<xs:sequence>
<xs:element minOccurs="0" name="con" type="tns:ProvisionConnector"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addConnectorResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="removeConnector">
<xs:sequence>
<xs:element minOccurs="0" name="conId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeConnectorResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addConnector">
    <wsdl:part name="parameters" element="tns:addConnector">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllConnectorsResponse">
    <wsdl:part name="parameters" element="tns:getAllConnectorsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateConnectorResponse">
    <wsdl:part name="parameters" element="tns:updateConnectorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeConnectorResponse">
    <wsdl:part name="parameters" element="tns:removeConnectorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addConnectorResponse">
    <wsdl:part name="parameters" element="tns:addConnectorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectorsByType">
    <wsdl:part name="parameters" element="tns:getConnectorsByType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectorsByTypeResponse">
    <wsdl:part name="parameters" element="tns:getConnectorsByTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnector">
    <wsdl:part name="parameters" element="tns:getConnector">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllConnectors">
    <wsdl:part name="parameters" element="tns:getAllConnectors">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectorResponse">
    <wsdl:part name="parameters" element="tns:getConnectorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeConnector">
    <wsdl:part name="parameters" element="tns:removeConnector">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateConnector">
    <wsdl:part name="parameters" element="tns:updateConnector">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConnectorDataService">
    <wsdl:operation name="getConnector">
      <wsdl:input name="getConnector" message="tns:getConnector">
    </wsdl:input>
      <wsdl:output name="getConnectorResponse" message="tns:getConnectorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateConnector">
      <wsdl:input name="updateConnector" message="tns:updateConnector">
    </wsdl:input>
      <wsdl:output name="updateConnectorResponse" message="tns:updateConnectorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectorsByType">
      <wsdl:input name="getConnectorsByType" message="tns:getConnectorsByType">
    </wsdl:input>
      <wsdl:output name="getConnectorsByTypeResponse" message="tns:getConnectorsByTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectors">
      <wsdl:input name="getAllConnectors" message="tns:getAllConnectors">
    </wsdl:input>
      <wsdl:output name="getAllConnectorsResponse" message="tns:getAllConnectorsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addConnector">
      <wsdl:input name="addConnector" message="tns:addConnector">
    </wsdl:input>
      <wsdl:output name="addConnectorResponse" message="tns:addConnectorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeConnector">
      <wsdl:input name="removeConnector" message="tns:removeConnector">
    </wsdl:input>
      <wsdl:output name="removeConnectorResponse" message="tns:removeConnectorResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectorDataServiceServiceSoapBinding" type="tns:ConnectorDataService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getConnector">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getConnector">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConnectorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectorsByType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getConnectorsByType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConnectorsByTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateConnector">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateConnector">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateConnectorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllConnectors">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllConnectors">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllConnectorsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addConnector">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addConnector">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addConnectorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeConnector">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeConnector">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeConnectorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectorDataServiceService">
    <wsdl:port name="ConnectorDataServicePort" binding="tns:ConnectorDataServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ConnectorDataServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
