openiam-idm-esb/wsdl/PasswordService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PasswordWebServiceService" targetNamespace="urn:idm.openiam.org/srvc/pswd/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/pswd/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/pswd/service" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/pswd/service">
<xs:element name="daysToPasswordExpiration" type="tns:daysToPasswordExpiration"/>
<xs:element name="daysToPasswordExpirationResponse" type="tns:daysToPasswordExpirationResponse"/>
<xs:element name="getPasswordPolicy" type="tns:getPasswordPolicy"/>
<xs:element name="getPasswordPolicyResponse" type="tns:getPasswordPolicyResponse"/>
<xs:element name="isPasswordChangeAllowed" type="tns:isPasswordChangeAllowed"/>
<xs:element name="isPasswordChangeAllowedResponse" type="tns:isPasswordChangeAllowedResponse"/>
<xs:element name="isPasswordValid" type="tns:isPasswordValid"/>
<xs:element name="isPasswordValidResponse" type="tns:isPasswordValidResponse"/>
<xs:element name="passwordChangeCount" type="tns:passwordChangeCount"/>
<xs:element name="passwordChangeCountResponse" type="tns:passwordChangeCountResponse"/>
<xs:complexType name="passwordChangeCount">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="passwordChangeCountResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Response">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:ResponseErrorCode"/>
<xs:element minOccurs="0" name="responseValue" type="xs:anyType"/>
<xs:element minOccurs="0" name="errorText" type="xs:string"/>
</xs:sequence>
<xs:attribute name="status" type="tns:ResponseStatus" use="required"/>
</xs:complexType>
<xs:complexType name="isPasswordChangeAllowed">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="isPasswordChangeAllowedResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:BooleanResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BooleanResponse">
<xs:sequence/>
<xs:attribute name="value" type="xs:boolean" use="required"/>
</xs:complexType>
<xs:complexType name="isPasswordValid">
<xs:sequence>
<xs:element minOccurs="0" name="pswd" type="tns:Password"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Password">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
<xs:element minOccurs="0" name="requestBy" type="xs:string"/>
<xs:element minOccurs="0" name="srcApplicationId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="isPasswordValidResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPasswordPolicy">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPasswordPolicyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:PolicyResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PolicyResponse">
<xs:complexContent>
<xs:extension base="tns:Response">
<xs:sequence>
<xs:element minOccurs="0" name="policy" type="tns:Policy"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Policy">
<xs:sequence>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="policyDefId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:int"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="rule" type="xs:string"/>
<xs:element minOccurs="0" name="ruleSrcUrl" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="policyMemberships" nillable="true" type="tns:PolicyMembership"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="policyAttributes" nillable="true" type="tns:PolicyAttribute"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PolicyMembership">
<xs:sequence>
<xs:element minOccurs="0" name="policyMemId" type="xs:string"/>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="resourceType" type="xs:string"/>
<xs:element minOccurs="0" name="resourceObjId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PolicyAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="policyAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="defParamId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="xs:string"/>
<xs:element minOccurs="0" name="value1" type="xs:string"/>
<xs:element minOccurs="0" name="value2" type="xs:string"/>
<xs:element minOccurs="0" name="rule" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="daysToPasswordExpiration">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="daysToPasswordExpirationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ResponseStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="success"/>
<xs:enumeration value="failure"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ResponseErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="objectNotFound"/>
<xs:enumeration value="classNotFound"/>
<xs:enumeration value="principalNotFound"/>
<xs:enumeration value="userNotFound"/>
<xs:enumeration value="userStatus"/>
<xs:enumeration value="supervisorlNotFound"/>
<xs:enumeration value="DUPLICATE_PRINCIPAL"/>
<xs:enumeration value="failPasswordPolicy"/>
<xs:enumeration value="groupIdNull"/>
<xs:enumeration value="groupIdInvalid"/>
<xs:enumeration value="roleIdNull"/>
<xs:enumeration value="roleIdInvalid"/>
<xs:enumeration value="success"/>
<xs:enumeration value="FAIL_SQL_ERORR"/>
<xs:enumeration value="FAIL_CONNECTION"/>
<xs:enumeration value="FAIL_ALPHA_CHAR_RULE"/>
<xs:enumeration value="FAIL_LOWER_CASE_RULE"/>
<xs:enumeration value="FAIL_UPPER_CASE_RULE"/>
<xs:enumeration value="FAIL_NON_APHANUMERIC_RULE"/>
<xs:enumeration value="FAIL_NUMERIC_CHAR_RULE"/>
<xs:enumeration value="FAIL_HISTORY_RULE"/>
<xs:enumeration value="FAIL_LENGTH_RULE"/>
<xs:enumeration value="FAIL_NEQ_NAME"/>
<xs:enumeration value="FAIL_NEQ_PASSWORD"/>
<xs:enumeration value="FAIL_NEQ_PRINCIPAL"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_FREQUENCY"/>
<xs:enumeration value="PASSWORD_POLICY_NOT_FOUND"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_ALLOW"/>
<xs:enumeration value="FAIL_REJECT_CHARS_IN_PSWD"/>
<xs:enumeration value="FAIL_ENCRYPTION"/>
<xs:enumeration value="FAIL_DECRYPTION"/>
<xs:enumeration value="FAIL_OTHER"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="ObjectNotFoundException" type="tns:ObjectNotFoundException"/>
<xs:complexType name="ObjectNotFoundException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="passwordChangeCount">
    <wsdl:part name="parameters" element="tns:passwordChangeCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPasswordPolicy">
    <wsdl:part name="parameters" element="tns:getPasswordPolicy">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordChangeAllowedResponse">
    <wsdl:part name="parameters" element="tns:isPasswordChangeAllowedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordChangeAllowed">
    <wsdl:part name="parameters" element="tns:isPasswordChangeAllowed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObjectNotFoundException">
    <wsdl:part name="ObjectNotFoundException" element="tns:ObjectNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="daysToPasswordExpiration">
    <wsdl:part name="parameters" element="tns:daysToPasswordExpiration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPasswordPolicyResponse">
    <wsdl:part name="parameters" element="tns:getPasswordPolicyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordValidResponse">
    <wsdl:part name="parameters" element="tns:isPasswordValidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="passwordChangeCountResponse">
    <wsdl:part name="parameters" element="tns:passwordChangeCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordValid">
    <wsdl:part name="parameters" element="tns:isPasswordValid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="daysToPasswordExpirationResponse">
    <wsdl:part name="parameters" element="tns:daysToPasswordExpirationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PasswordWebService">
    <wsdl:operation name="passwordChangeCount">
      <wsdl:input name="passwordChangeCount" message="tns:passwordChangeCount">
    </wsdl:input>
      <wsdl:output name="passwordChangeCountResponse" message="tns:passwordChangeCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPasswordChangeAllowed">
      <wsdl:input name="isPasswordChangeAllowed" message="tns:isPasswordChangeAllowed">
    </wsdl:input>
      <wsdl:output name="isPasswordChangeAllowedResponse" message="tns:isPasswordChangeAllowedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPasswordValid">
      <wsdl:input name="isPasswordValid" message="tns:isPasswordValid">
    </wsdl:input>
      <wsdl:output name="isPasswordValidResponse" message="tns:isPasswordValidResponse">
    </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException" message="tns:ObjectNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPasswordPolicy">
      <wsdl:input name="getPasswordPolicy" message="tns:getPasswordPolicy">
    </wsdl:input>
      <wsdl:output name="getPasswordPolicyResponse" message="tns:getPasswordPolicyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="daysToPasswordExpiration">
      <wsdl:input name="daysToPasswordExpiration" message="tns:daysToPasswordExpiration">
    </wsdl:input>
      <wsdl:output name="daysToPasswordExpirationResponse" message="tns:daysToPasswordExpirationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordWebServiceServiceSoapBinding" type="tns:PasswordWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="passwordChangeCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="passwordChangeCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="passwordChangeCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPasswordChangeAllowed">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPasswordChangeAllowed">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPasswordChangeAllowedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPasswordValid">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPasswordValid">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPasswordValidResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPasswordPolicy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPasswordPolicy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPasswordPolicyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="daysToPasswordExpiration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="daysToPasswordExpiration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="daysToPasswordExpirationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordWebServiceService">
    <wsdl:port name="PasswordWebServicePort" binding="tns:PasswordWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/PasswordWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
