openiam-idm-esb/wsdl/ProvisioningService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProvisionServiceService" targetNamespace="http://www.openiam.org/service/provision" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.openiam.org/service/provision" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/continfo/dto" xmlns:ns2="http://www.openiam.org/service/provision" xmlns:tns="urn:idm.openiam.org/srvc/user/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/user/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/continfo/dto"/>
<xs:import namespace="http://www.openiam.org/service/provision"/>
<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="ns1:address"/>
<xs:element minOccurs="0" name="birthdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="companyId" type="xs:string"/>
<xs:element minOccurs="0" name="companyOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="deptCd" type="xs:string"/>
<xs:element minOccurs="0" name="deptName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="emailAddresses" nillable="true" type="ns1:emailAddress"/>
<xs:element minOccurs="0" name="employeeId" type="xs:string"/>
<xs:element minOccurs="0" name="employeeType" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="jobCode" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="locationCd" type="xs:string"/>
<xs:element minOccurs="0" name="locationName" type="xs:string"/>
<xs:element minOccurs="0" name="managerId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="classification" type="xs:string"/>
<xs:element minOccurs="0" name="middleInit" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phones" nillable="true" type="ns1:phone"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="sex" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="tns:UserStatus"/>
<xs:element minOccurs="0" name="secondaryStatus" type="tns:UserStatus"/>
<xs:element minOccurs="0" name="suffix" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="userAttributes" type="tns:userAttributeMap"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userTypeInd" type="xs:string"/>
<xs:element minOccurs="0" name="userNotes" type="tns:userNoteSet"/>
<xs:element minOccurs="0" name="division" type="xs:string"/>
<xs:element minOccurs="0" name="costCenter" type="xs:string"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="mailCode" type="xs:string"/>
<xs:element minOccurs="0" name="nickname" type="xs:string"/>
<xs:element minOccurs="0" name="maidenName" type="xs:string"/>
<xs:element minOccurs="0" name="passwordTheme" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="bldgNum" type="xs:string"/>
<xs:element minOccurs="0" name="streetDirection" type="xs:string"/>
<xs:element minOccurs="0" name="suite" type="xs:string"/>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="address5" type="xs:string"/>
<xs:element minOccurs="0" name="address6" type="xs:string"/>
<xs:element minOccurs="0" name="address7" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="state" type="xs:string"/>
<xs:element minOccurs="0" name="postalCd" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="showInSearch" type="xs:int"/>
<xs:element minOccurs="0" name="delAdmin" type="xs:int"/>
<xs:element minOccurs="0" name="areaCd" type="xs:string"/>
<xs:element minOccurs="0" name="countryCd" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNbr" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="principalList" nillable="true" type="ns2:Login"/>
<xs:element minOccurs="0" name="supervisor" type="tns:supervisor"/>
<xs:element minOccurs="0" name="alternateContactId" type="xs:string"/>
<xs:element minOccurs="0" name="securityDomain" type="xs:string"/>
<xs:element minOccurs="0" name="userOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="datePasswordChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateChallengeRespChanged" type="xs:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="userAttributeMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userAttributeEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="userAttribute" type="tns:userAttribute"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userAttribute">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="userNoteSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userNoteItem" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="userNote" type="tns:userNote"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userNote">
<xs:sequence>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="noteType" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userNoteId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="supervisor">
<xs:sequence>
<xs:element minOccurs="0" name="comments" type="xs:string"/>
<xs:element minOccurs="0" name="employee" type="tns:user"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="isPrimarySuper" type="xs:int"/>
<xs:element minOccurs="0" name="orgStructureId" type="xs:string"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="supervisor" type="tns:user"/>
<xs:element minOccurs="0" name="supervisorType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UserStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="active"/>
<xs:enumeration value="inactive"/>
<xs:enumeration value="pending_start_date"/>
<xs:enumeration value="pending_approval"/>
<xs:enumeration value="approval_declined"/>
<xs:enumeration value="pending_user_validation"/>
<xs:enumeration value="pending_initial_login"/>
<xs:enumeration value="terminate"/>
<xs:enumeration value="deleted"/>
<xs:enumeration value="locked"/>
<xs:enumeration value="locked_admin"/>
<xs:enumeration value="disabled"/>
<xs:enumeration value="retired"/>
<xs:enumeration value="leave"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/grp/dto" xmlns:ns2="http://www.openiam.org/service/provision" xmlns:tns="urn:idm.openiam.org/srvc/role/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/role/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/grp/dto"/>
<xs:import namespace="http://www.openiam.org/service/provision"/>
<xs:element name="Role" type="tns:role"/>
<xs:complexType name="roleSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="role" type="tns:role"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="role">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="groups" type="ns1:groupSet"/>
<xs:element minOccurs="0" name="id" type="tns:roleId"/>
<xs:element minOccurs="0" name="provisionObjName" type="xs:string"/>
<xs:element minOccurs="0" name="parentRoleId" type="xs:string"/>
<xs:element minOccurs="0" name="roleAttributes" type="tns:roleAttributeSet"/>
<xs:element minOccurs="0" name="roleName" type="xs:string"/>
<xs:element name="userAssociationMethod" type="xs:int"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="ownerId" type="xs:string"/>
<xs:element minOccurs="0" name="inheritFromParent" type="xs:int"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="childRoles" nillable="true" type="tns:role"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="internalRoleId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rolePolicy" nillable="true" type="tns:RolePolicy"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="roleId">
<xs:sequence>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleAttributeSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleAttributeObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="roleAttribute" type="tns:roleAttribute"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="roleAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RolePolicy">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="rolePolicyId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value1" type="xs:string"/>
<xs:element minOccurs="0" name="value2" type="xs:string"/>
<xs:element minOccurs="0" name="action" type="xs:string"/>
<xs:element minOccurs="0" name="executionOrder" type="xs:int"/>
<xs:element minOccurs="0" name="policyScript" type="xs:string"/>
<xs:element minOccurs="0" name="actionQualifier" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/role/dto" xmlns:ns2="http://www.openiam.org/service/provision" xmlns:tns="urn:idm.openiam.org/srvc/grp/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/grp/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/role/dto"/>
<xs:import namespace="http://www.openiam.org/service/provision"/>
<xs:element name="Group" type="tns:Group"/>
<xs:complexType name="Group">
<xs:sequence>
<xs:element minOccurs="0" name="roles" type="ns1:roleSet"/>
<xs:element minOccurs="0" name="attributes" type="tns:groupAttributeMap"/>
<xs:element minOccurs="0" name="companyId" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="groupClass" type="xs:string"/>
<xs:element minOccurs="0" name="grpId" type="xs:string"/>
<xs:element minOccurs="0" name="grpName" type="xs:string"/>
<xs:element minOccurs="0" name="inheritFromParent" type="xs:boolean"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="parentGrpId" type="xs:string"/>
<xs:element minOccurs="0" name="provisionMethod" type="xs:string"/>
<xs:element minOccurs="0" name="provisionObjName" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="subGroup" nillable="true" type="tns:Group"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="ownerId" type="xs:string"/>
<xs:element minOccurs="0" name="internalGroupId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="groupSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groupObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="group" type="tns:Group"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="groupAttributeMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groupAttributeEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="groupAttribute" type="tns:GroupAttribute"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GroupAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="groupId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/provision" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/continfo/dto" version="1.0">
<xs:import namespace="http://www.openiam.org/service/provision"/>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="bldgNumber" type="xs:string"/>
<xs:element minOccurs="0" name="streetDirection" type="xs:string"/>
<xs:element minOccurs="0" name="suite" type="xs:string"/>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="address5" type="xs:string"/>
<xs:element minOccurs="0" name="address6" type="xs:string"/>
<xs:element minOccurs="0" name="address7" type="xs:string"/>
<xs:element minOccurs="0" name="addressId" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="postalCd" type="xs:string"/>
<xs:element minOccurs="0" name="state" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailAddress">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="emailId" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phone">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="areaCd" type="xs:string"/>
<xs:element minOccurs="0" name="countryCd" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element minOccurs="0" name="phoneId" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNbr" type="xs:string"/>
<xs:element minOccurs="0" name="phoneType" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addressMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addressEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns2="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="address" type="ns2:address"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phoneMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phoneEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns3="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="phone" type="ns3:phone"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailAddressMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="emailAddressEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns4="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="emailAddress" type="ns4:emailAddress"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/grp/dto" xmlns:ns2="urn:idm.openiam.org/srvc/role/dto" xmlns:ns3="urn:idm.openiam.org/srvc/user/dto" xmlns:tns="http://www.openiam.org/service/provision" elementFormDefault="unqualified" targetNamespace="http://www.openiam.org/service/provision" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/grp/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/role/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/user/dto"/>
<xs:element name="addGroup" type="tns:addGroup"/>
<xs:element name="addGroupResponse" type="tns:addGroupResponse"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="deleteByUserId" type="tns:deleteByUserId"/>
<xs:element name="deleteByUserIdResponse" type="tns:deleteByUserIdResponse"/>
<xs:element name="deleteGroup" type="tns:deleteGroup"/>
<xs:element name="deleteGroupResponse" type="tns:deleteGroupResponse"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="disableUser" type="tns:disableUser"/>
<xs:element name="disableUserResponse" type="tns:disableUserResponse"/>
<xs:element name="lockUser" type="tns:lockUser"/>
<xs:element name="lockUserResponse" type="tns:lockUserResponse"/>
<xs:element name="modifyGroup" type="tns:modifyGroup"/>
<xs:element name="modifyGroupResponse" type="tns:modifyGroupResponse"/>
<xs:element name="modifyUser" type="tns:modifyUser"/>
<xs:element name="modifyUserResponse" type="tns:modifyUserResponse"/>
<xs:element name="resetPassword" type="tns:resetPassword"/>
<xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse"/>
<xs:element name="setPassword" type="tns:setPassword"/>
<xs:element name="setPasswordResponse" type="tns:setPasswordResponse"/>
<xs:complexType name="setPassword">
<xs:sequence>
<xs:element minOccurs="0" name="passwordSync" type="tns:PasswordSync"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PasswordSync">
<xs:sequence>
<xs:element minOccurs="0" name="securityDomain" type="xs:string"/>
<xs:element minOccurs="0" name="managedSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
<xs:element name="validateRequest" type="xs:boolean"/>
<xs:element minOccurs="0" name="requestorId" type="xs:string"/>
<xs:element minOccurs="0" name="action" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setPasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Response">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:ResponseErrorCode"/>
<xs:element minOccurs="0" name="responseValue" type="xs:anyType"/>
<xs:element minOccurs="0" name="errorText" type="xs:string"/>
</xs:sequence>
<xs:attribute name="status" type="tns:ResponseStatus" use="required"/>
</xs:complexType>
<xs:complexType name="addUser">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:ProvisionUser"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProvisionUser">
<xs:complexContent>
<xs:extension base="ns3:user">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="principalList" nillable="true" type="tns:Login"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="memberOfGroups" nillable="true" type="ns1:Group"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="appAccess" nillable="true" type="tns:Application"/>
<xs:element minOccurs="0" name="requestId" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="memberOfRoles" nillable="true" type="ns2:role"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="provisionModel" type="tns:ProvisionModelEnum"/>
<xs:element minOccurs="0" name="securityDomain" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="objectState" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Login">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="tns:LoginId"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="pwdEquivalentToken" type="xs:string"/>
<xs:element minOccurs="0" name="pwdChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="pwdExp" type="xs:dateTime"/>
<xs:element name="firstTimeLogin" type="xs:int"/>
<xs:element name="resetPassword" type="xs:int"/>
<xs:element name="isLocked" type="xs:int"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="gracePeriod" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="currentLoginHost" type="xs:string"/>
<xs:element minOccurs="0" name="authFailCount" type="xs:int"/>
<xs:element minOccurs="0" name="lastAuthAttempt" type="xs:dateTime"/>
<xs:element minOccurs="0" name="canonicalName" type="xs:string"/>
<xs:element minOccurs="0" name="lastLogin" type="xs:dateTime"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element name="selected" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="loginAttributes" nillable="true" type="tns:LoginAttribute"/>
<xs:element minOccurs="0" name="passwordChangeCount" type="xs:int"/>
<xs:element minOccurs="0" name="operation" type="tns:AttributeOperationEnum"/>
<xs:element minOccurs="0" name="origPrincipalName" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LoginId">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="login" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LoginAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="loginAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="login" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="metadataId" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Subject">
<xs:sequence>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="expirationTime" type="xs:long"/>
<xs:element name="resultCode" type="xs:int"/>
<xs:element minOccurs="0" name="saml" type="xs:string"/>
<xs:element minOccurs="0" name="samlType" type="xs:string"/>
<xs:element name="daysToPwdExp" type="xs:int"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="ssoToken" type="tns:SSOToken"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groups" nillable="true" type="xs:anyType"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:anyType"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="principals" nillable="true" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SSOToken">
<xs:sequence>
<xs:element minOccurs="0" name="tokenType" type="xs:string"/>
<xs:element minOccurs="0" name="token" type="xs:string"/>
<xs:element minOccurs="0" name="authLevel" type="xs:string"/>
<xs:element minOccurs="0" name="provider" type="xs:string"/>
<xs:element minOccurs="0" name="clientIP" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element name="maxIdleTime" type="xs:int"/>
<xs:element minOccurs="0" name="expirationTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Application">
<xs:sequence>
<xs:element minOccurs="0" name="resourceId" type="xs:string"/>
<xs:element minOccurs="0" name="managedSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="provisionMethod" type="tns:UserStatus"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="privileges" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ProvisionUserResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProvisionUserResponse">
<xs:complexContent>
<xs:extension base="tns:Response">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:ProvisionUser"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="lockUser">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="tns:AccountLockEnum"/>
<xs:element minOccurs="0" name="requestorId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lockUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyGroup">
<xs:sequence>
<xs:element minOccurs="0" name="group" type="tns:provisionGroup"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="provisionGroup">
<xs:complexContent>
<xs:extension base="ns1:Group">
<xs:sequence>
<xs:element minOccurs="0" name="requestId" type="xs:string"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="modifyGroupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:provisionGroup"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element minOccurs="0" name="securityDomain" type="xs:string"/>
<xs:element minOccurs="0" name="managedSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="ns3:UserStatus"/>
<xs:element minOccurs="0" name="requestorId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ProvisionUserResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="disableUser">
<xs:sequence>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element name="operation" type="xs:boolean"/>
<xs:element minOccurs="0" name="requestor" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="disableUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyUser">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:ProvisionUser"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyUserResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ProvisionUserResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteGroup">
<xs:sequence>
<xs:element minOccurs="0" name="groupId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteGroupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:provisionGroup"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addGroup">
<xs:sequence>
<xs:element minOccurs="0" name="group" type="tns:provisionGroup"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addGroupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:provisionGroup"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteByUserId">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:ProvisionUser"/>
<xs:element minOccurs="0" name="status" type="ns3:UserStatus"/>
<xs:element minOccurs="0" name="requestorId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteByUserIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ProvisionUserResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resetPassword">
<xs:sequence>
<xs:element minOccurs="0" name="passwordSync" type="tns:PasswordSync"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resetPasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:PasswordResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PasswordResponse">
<xs:complexContent>
<xs:extension base="tns:Response">
<xs:sequence>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="ResponseStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="success"/>
<xs:enumeration value="failure"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ResponseErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="objectNotFound"/>
<xs:enumeration value="classNotFound"/>
<xs:enumeration value="principalNotFound"/>
<xs:enumeration value="userNotFound"/>
<xs:enumeration value="userStatus"/>
<xs:enumeration value="supervisorlNotFound"/>
<xs:enumeration value="DUPLICATE_PRINCIPAL"/>
<xs:enumeration value="failPasswordPolicy"/>
<xs:enumeration value="groupIdNull"/>
<xs:enumeration value="groupIdInvalid"/>
<xs:enumeration value="roleIdNull"/>
<xs:enumeration value="roleIdInvalid"/>
<xs:enumeration value="success"/>
<xs:enumeration value="FAIL_SQL_ERORR"/>
<xs:enumeration value="FAIL_CONNECTION"/>
<xs:enumeration value="FAIL_ALPHA_CHAR_RULE"/>
<xs:enumeration value="FAIL_LOWER_CASE_RULE"/>
<xs:enumeration value="FAIL_UPPER_CASE_RULE"/>
<xs:enumeration value="FAIL_NON_APHANUMERIC_RULE"/>
<xs:enumeration value="FAIL_NUMERIC_CHAR_RULE"/>
<xs:enumeration value="FAIL_HISTORY_RULE"/>
<xs:enumeration value="FAIL_LENGTH_RULE"/>
<xs:enumeration value="FAIL_NEQ_NAME"/>
<xs:enumeration value="FAIL_NEQ_PASSWORD"/>
<xs:enumeration value="FAIL_NEQ_PRINCIPAL"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_FREQUENCY"/>
<xs:enumeration value="PASSWORD_POLICY_NOT_FOUND"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_ALLOW"/>
<xs:enumeration value="FAIL_REJECT_CHARS_IN_PSWD"/>
<xs:enumeration value="FAIL_ENCRYPTION"/>
<xs:enumeration value="FAIL_DECRYPTION"/>
<xs:enumeration value="FAIL_OTHER"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AttributeOperationEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="nochange"/>
<xs:enumeration value="add"/>
<xs:enumeration value="replace"/>
<xs:enumeration value="delete"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UserStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="auto"/>
<xs:enumeration value="manual"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ProvisionModelEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="role"/>
<xs:enumeration value="static"/>
<xs:enumeration value="rule"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AccountLockEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="locked"/>
<xs:enumeration value="unlock"/>
<xs:enumeration value="locked_admin"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyGroupResponse">
    <wsdl:part name="parameters" element="tns:modifyGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part name="parameters" element="tns:addUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disableUserResponse">
    <wsdl:part name="parameters" element="tns:disableUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part name="parameters" element="tns:resetPassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteByUserId">
    <wsdl:part name="parameters" element="tns:deleteByUserId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserResponse">
    <wsdl:part name="parameters" element="tns:modifyUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disableUser">
    <wsdl:part name="parameters" element="tns:disableUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addGroup">
    <wsdl:part name="parameters" element="tns:addGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPassword">
    <wsdl:part name="parameters" element="tns:setPassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lockUser">
    <wsdl:part name="parameters" element="tns:lockUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteByUserIdResponse">
    <wsdl:part name="parameters" element="tns:deleteByUserIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroup">
    <wsdl:part name="parameters" element="tns:deleteGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPasswordResponse">
    <wsdl:part name="parameters" element="tns:setPasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUser">
    <wsdl:part name="parameters" element="tns:modifyUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lockUserResponse">
    <wsdl:part name="parameters" element="tns:lockUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyGroup">
    <wsdl:part name="parameters" element="tns:modifyGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addGroupResponse">
    <wsdl:part name="parameters" element="tns:addGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProvisionControllerService">
    <wsdl:operation name="setPassword">
      <wsdl:input name="setPassword" message="tns:setPassword">
    </wsdl:input>
      <wsdl:output name="setPasswordResponse" message="tns:setPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUser" message="tns:addUser">
    </wsdl:input>
      <wsdl:output name="addUserResponse" message="tns:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockUser">
      <wsdl:input name="lockUser" message="tns:lockUser">
    </wsdl:input>
      <wsdl:output name="lockUserResponse" message="tns:lockUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyGroup">
      <wsdl:input name="modifyGroup" message="tns:modifyGroup">
    </wsdl:input>
      <wsdl:output name="modifyGroupResponse" message="tns:modifyGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <wsdl:input name="disableUser" message="tns:disableUser">
    </wsdl:input>
      <wsdl:output name="disableUserResponse" message="tns:disableUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdl:input name="modifyUser" message="tns:modifyUser">
    </wsdl:input>
      <wsdl:output name="modifyUserResponse" message="tns:modifyUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input name="deleteGroup" message="tns:deleteGroup">
    </wsdl:input>
      <wsdl:output name="deleteGroupResponse" message="tns:deleteGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <wsdl:input name="addGroup" message="tns:addGroup">
    </wsdl:input>
      <wsdl:output name="addGroupResponse" message="tns:addGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteByUserId">
      <wsdl:input name="deleteByUserId" message="tns:deleteByUserId">
    </wsdl:input>
      <wsdl:output name="deleteByUserIdResponse" message="tns:deleteByUserIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input name="resetPassword" message="tns:resetPassword">
    </wsdl:input>
      <wsdl:output name="resetPasswordResponse" message="tns:resetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvisionServiceServiceSoapBinding" type="tns:ProvisionControllerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="lockUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lockUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifyGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="disableUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="disableUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifyUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteByUserId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteByUserId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteByUserIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvisionServiceService">
    <wsdl:port name="ProvisionControllerServicePort" binding="tns:ProvisionServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ProvisionControllerServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
