openiam-idm-esb/wsdl/ReferenceDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReferenceDataServiceService" targetNamespace="urn:idm.openiam.org/srvc/ref/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/ref/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/ref/service" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/ref/service" version="1.0">
<xs:element name="addRefData" type="tns:addRefData"/>
<xs:element name="addRefDataResponse" type="tns:addRefDataResponse"/>
<xs:element name="getRefByGroup" type="tns:getRefByGroup"/>
<xs:element name="getRefByGroupResponse" type="tns:getRefByGroupResponse"/>
<xs:element name="getRefDataById" type="tns:getRefDataById"/>
<xs:element name="getRefDataByIdResponse" type="tns:getRefDataByIdResponse"/>
<xs:element name="removeRefData" type="tns:removeRefData"/>
<xs:element name="removeRefDataResponse" type="tns:removeRefDataResponse"/>
<xs:element name="saveRefData" type="tns:saveRefData"/>
<xs:element name="saveRefDataResponse" type="tns:saveRefDataResponse"/>
<xs:complexType name="removeRefData">
<xs:sequence>
<xs:element minOccurs="0" name="val" type="tns:ReferenceData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferenceData">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="tns:ReferenceDataId"/>
<xs:element minOccurs="0" name="statusType" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="weight" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferenceDataId">
<xs:sequence>
<xs:element minOccurs="0" name="codeGroup" type="xs:string"/>
<xs:element minOccurs="0" name="statusCd" type="xs:string"/>
<xs:element minOccurs="0" name="languageCd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRefDataResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="saveRefData">
<xs:sequence>
<xs:element minOccurs="0" name="val" type="tns:ReferenceData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveRefDataResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getRefDataById">
<xs:sequence>
<xs:element minOccurs="0" name="val" type="tns:ReferenceDataId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRefDataByIdResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="addRefData">
<xs:sequence>
<xs:element minOccurs="0" name="val" type="tns:ReferenceData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRefDataResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getRefByGroup">
<xs:sequence>
<xs:element minOccurs="0" name="codeGroup" type="xs:string"/>
<xs:element minOccurs="0" name="languageCd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRefByGroupResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ReferenceData"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveRefDataResponse">
    <wsdl:part name="parameters" element="tns:saveRefDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveRefData">
    <wsdl:part name="parameters" element="tns:saveRefData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefByGroup">
    <wsdl:part name="parameters" element="tns:getRefByGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefDataById">
    <wsdl:part name="parameters" element="tns:getRefDataById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRefDataResponse">
    <wsdl:part name="parameters" element="tns:removeRefDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRefData">
    <wsdl:part name="parameters" element="tns:removeRefData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRefData">
    <wsdl:part name="parameters" element="tns:addRefData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefByGroupResponse">
    <wsdl:part name="parameters" element="tns:getRefByGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRefDataByIdResponse">
    <wsdl:part name="parameters" element="tns:getRefDataByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRefDataResponse">
    <wsdl:part name="parameters" element="tns:addRefDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReferenceDataWebService">
    <wsdl:operation name="removeRefData">
      <wsdl:input name="removeRefData" message="tns:removeRefData">
    </wsdl:input>
      <wsdl:output name="removeRefDataResponse" message="tns:removeRefDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRefData">
      <wsdl:input name="saveRefData" message="tns:saveRefData">
    </wsdl:input>
      <wsdl:output name="saveRefDataResponse" message="tns:saveRefDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRefDataById">
      <wsdl:input name="getRefDataById" message="tns:getRefDataById">
    </wsdl:input>
      <wsdl:output name="getRefDataByIdResponse" message="tns:getRefDataByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRefData">
      <wsdl:input name="addRefData" message="tns:addRefData">
    </wsdl:input>
      <wsdl:output name="addRefDataResponse" message="tns:addRefDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRefByGroup">
      <wsdl:input name="getRefByGroup" message="tns:getRefByGroup">
    </wsdl:input>
      <wsdl:output name="getRefByGroupResponse" message="tns:getRefByGroupResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReferenceDataServiceServiceSoapBinding" type="tns:ReferenceDataWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeRefData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeRefData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeRefDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRefData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveRefData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveRefDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRefDataById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRefDataById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRefDataByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRefData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addRefData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addRefDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRefByGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRefByGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRefByGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReferenceDataServiceService">
    <wsdl:port name="ReferenceDataWebServicePort" binding="tns:ReferenceDataServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ReferenceDataWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
